In [371]:
import pandas as pd
import altair as alt
import arrow

import src.logic.severa.base_client
import src.logic.severa.fetch
import src.logic.severa.client
import src.logic.severa.models as models
import src.util.process
import src.database.database
from src.util.daterange import DateRange
import src.util.stable_hash
import datetime

import src.logic.processing
import src.logic.processing_pandera

reload(src.logic.processing_pandera)

reload(src.logic.severa.base_client)
reload(src.logic.severa.fetch)
reload(src.logic.severa.client)
reload(src.logic.processing)
reload(src.util.process)
reload(src.database.database)
reload(src.util.daterange)
reload(src.util.stable_hash)

alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [271]:
b = src.database.database.Base("kpi-dev-02", "billing")
billings_all = b.find({})
# billings_processed = ProcessBilling(billing_p.result()).process(
#             span.start.datetime, span.end.datetime
#         )

2023-07-15 15:46:33.661 | INFO     | src.database.database:find:91 - [billing] Query '{}' resulted in 2126 results in 3.70s.

In [372]:
history = await src.logic.processing.load_merge_billing_forecast_history()
history

2023-07-15 23:40:28.370 | INFO     | src.database.database:find:91 - [billing] Query '{}' resulted in 2126 results in 2.39s.
2023-07-15 23:40:34.723 | SUCCESS  | src.logic.severa.base_client:get_with_retries:196 - HTTP/2 GET users in 0.22s.

,id,project,value,user,forecast_date,date,forecast_length,first_name,last_name,business_unit
0,billing,bbe91a59-1ae7-0230-0aea-090c8f31817e,4.761905,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-21 00:00:00+00:00,2023-06-21 00:00:00+00:00,0,Lari,Ruotsalainen,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e
1,billing,bbe91a59-1ae7-0230-0aea-090c8f31817e,4.761905,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-21 00:00:00+00:00,2023-06-22 00:00:00+00:00,1,Lari,Ruotsalainen,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e
2,billing,bbe91a59-1ae7-0230-0aea-090c8f31817e,0.000000,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-21 00:00:00+00:00,2023-06-23 00:00:00+00:00,2,Lari,Ruotsalainen,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e
3,billing,bbe91a59-1ae7-0230-0aea-090c8f31817e,0.000000,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-21 00:00:00+00:00,2023-06-24 00:00:00+00:00,3,Lari,Ruotsalainen,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e
4,billing,bbe91a59-1ae7-0230-0aea-090c8f31817e,0.000000,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-21 00:00:00+00:00,2023-06-25 00:00:00+00:00,4,Lari,Ruotsalainen,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e
...,...,...,...,...,...,...,...,...,...,...
57291,billing,636b2177-27c2-348f-9840-36c8ff3a5aa9,41.666667,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-15 00:00:00+00:00,2023-07-27 00:00:00+00:00,12,Margarita,Borisova,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e
57292,billing,636b2177-27c2-348f-9840-36c8ff3a5aa9,41.666667,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-15 00:00:00+00:00,2023-07-28 00:00:00+00:00,13,Margarita,Borisova,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e
57293,billing,636b2177-27c2-348f-9840-36c8ff3a5aa9,0.000000,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-15 00:00:00+00:00,2023-07-29 00:00:00+00:00,14,Margarita,Borisova,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e
57294,billing,636b2177-27c2-348f-9840-36c8ff3a5aa9,0.000000,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-15 00:00:00+00:00,2023-07-30 00:00:00+00:00,15,Margarita,Borisova,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e
57295,billing,636b2177-27c2-348f-9840-36c8ff3a5aa9,41.666667,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-15 00:00:00+00:00,2023-07-31 00:00:00+00:00,16,Margarita,Borisova,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e

In [381]:
h = history.copy()
h = h[h.forecast_length <= 7]
g = h.groupby(["forecast_date", "first_name"])
d = pd.concat([g.value.sum()], axis=1).reset_index()
d[d.first_name == "Ville"]
# g2 = d.groupby(["date", "first_name"])
# d2 = pd.concat([g.value.sum(), g.date.max()], axis=1).reset_index()

                forecast_date first_name        value
6   2023-06-21 00:00:00+00:00      Ville  1023.809524
14  2023-06-22 00:00:00+00:00      Ville  1254.761905
22  2023-06-23 00:00:00+00:00      Ville  1285.833333
31  2023-06-24 00:00:00+00:00      Ville  1285.833333
40  2023-06-25 00:00:00+00:00      Ville  1285.833333
49  2023-06-26 00:00:00+00:00      Ville  1285.833333
58  2023-06-27 00:00:00+00:00      Ville  1028.666667
67  2023-06-28 00:00:00+00:00      Ville   914.357143
76  2023-06-29 00:00:00+00:00      Ville   838.095238
79  2023-06-30 00:00:00+00:00      Ville   428.571429
82  2023-07-01 00:00:00+00:00      Ville   428.571429
85  2023-07-02 00:00:00+00:00      Ville   428.571429
88  2023-07-03 00:00:00+00:00      Ville   514.285714
91  2023-07-04 00:00:00+00:00      Ville   514.285714
94  2023-07-05 00:00:00+00:00      Ville   514.285714
97  2023-07-06 00:00:00+00:00      Ville   514.285714
100 2023-07-07 00:00:00+00:00      Ville   514.285714
103 2023-07-08 00:00:00+00:00      Ville   428.571429
106 2023-07-09 00:00:00+00:00      Ville   428.571429
109 2023-07-11 00:00:00+00:00      Ville  1314.285714
112 2023-07-12 00:00:00+00:00      Ville  1314.285714
115 2023-07-13 00:00:00+00:00      Ville  1314.285714
118 2023-07-14 00:00:00+00:00      Ville  1314.285714
121 2023-07-15 00:00:00+00:00      Ville  1095.238095

In [350]:
b0 = billings_all.copy()

b0.start_date = pd.to_datetime(b0.start_date, utc=True)
b0.end_date = pd.to_datetime(b0.end_date, utc=True)
b0.forecast_date = pd.to_datetime(b0.forecast_date, utc=True)

d = arrow.utcnow()
start = d.shift(days=-14).floor("day")
end = d.ceil("day")

# find_most_recent_forecast_for_span
latest_date = b0[b0.forecast_date <= start.date().isoformat()].forecast_date.max()
latest_forecasts = b0[b0.forecast_date == latest_date]
latest_forecasts.dtypes

# unravel
print(latest_forecasts.value.sum())
unrav = src.logic.processing.ProcessBilling(latest_forecasts.copy()).process(
    latest_date.to_pydatetime(), end.datetime
)
unrav.unraveled

100686.6

,id,internal_guid,start_date,end_date,project,value,billing,expense,revenue,labor_expense,user,forecast_date,date
14,billing,8ab80be6-9735-0690-85be-43e60f30be08,2023-07-01 00:00:00+00:00,2023-07-31 23:59:59.999000+00:00,1ad42d62-f0ac-1445-32e9-05b8868ef98f,0.0,800.0,0.0,0.0,0.0,2f365dcd-6ada-f6d8-8d73-4f393745e513,2023-07-01 00:00:00+00:00,2023-07-15 00:00:00+00:00
997,billing,e57e351e-4e88-382e-244e-fd1977b3c7a3,2023-07-01 00:00:00+00:00,2023-07-31 23:59:59.999000+00:00,af008ee1-a17d-8268-63ae-cd1e898519f9,0.0,1000.0,0.0,0.0,0.0,2f365dcd-6ada-f6d8-8d73-4f393745e513,2023-07-01 00:00:00+00:00,2023-07-15 00:00:00+00:00
1640,billing,aa911283-7be7-81ed-52b5-b0e07b505643,2023-07-01 00:00:00+00:00,2023-07-31 23:59:59.999000+00:00,d9dafcdb-b1f6-8af8-eb7d-861da9373a0f,0.0,200.0,0.0,0.0,0.0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-01 00:00:00+00:00,2023-07-15 00:00:00+00:00
2070,billing,8bea52d0-9be0-2688-f492-7d943bf3dcfb,2023-07-01 00:00:00+00:00,2023-07-31 23:59:59.999000+00:00,82f8a4df-ea8a-dd8b-2a3a-366296048e3d,0.0,1000.0,0.0,0.0,0.0,2ed8156d-f3f9-2212-c739-b0d9f7ac81ca,2023-07-01 00:00:00+00:00,2023-07-15 00:00:00+00:00

In [361]:
import src.logic.processing_pandera

reload(src.logic.processing_pandera)

b0 = billings_all.copy()

p = src.logic.processing_pandera

spaan = DateRange(start, end)

p.process_billing_forecasts(b0)

# unr = p.unravel(p.expand_start_and_end(b0, spaan))
# unr = p.calculate_weekday_statistics(unr)
# unr = p.recalculate_values(unr, p.ValueRecalculationMethod.SCALE_VALUE_TO_NUMBER_OF_WORKDAYS, True)
# # unr = p.cull(unr, spaan)
# unr

# # PitÃ¤Ã¤ valita viimeisimpien ennusteiden joukosta
# # ne, joiden date on oikeassa spanissa

# # groupby(forecast_date)
# # x = date - forecast_date (esim. 4)
# # nyt halutaan valita (groupittain) kaikki, joiden x <= len(span)
# # eli jotka ovat x tulevan pÃ¤ivÃ¤n ennustetta
# # n vrk ennuste pÃ¤ivÃ¤nÃ¤ date = filter(x < n).groupby(forecast_date).sum()

# n = 2
# import operator
# unr["forecast_length"] = unr["date"] - unr["forecast_date"]
# print("!!!", unr.forecast_length.map(operator.attrgetter("days")).min())
# unr = unr[unr.forecast_length.map(operator.attrgetter("days")) >= 0]
# unr2 = unr[unr.forecast_length.map(operator.attrgetter("days")) < n]
# grps = unr2.groupby("forecast_date")
# pd.concat([grps["date"].max(), grps["value"].sum(), grps["value"].count()], axis=1)
# unr2[unr2.forecast_date == "2023-06-22"]
# # unr3 = unr2.groupby("forecast_date")["value"].sum().reset_index()
# # unr3["forecasted_date"] = unr3["forecast_date"] + pd.Timedelta(days=len(spaan))
# # unr3

id                    string[python]
internal_guid         string[python]
start_date       datetime64[ns, UTC]
end_date         datetime64[ns, UTC]
project               string[python]
value                        float64
billing                      float64
expense                      float64
revenue                      float64
labor_expense                float64
user                  string[python]
forecast_date    datetime64[ns, UTC]
dtype: object
        id                         internal_guid                start_date  \
0  billing  568feff7-bf6a-45bd-702e-d0378756b2a9 2023-06-01 00:00:00+00:00
1  billing  2e1893e7-2a19-f04a-84eb-77f36d1e9b66 2023-08-01 00:00:00+00:00
2  billing  cca04799-ff11-d23f-4b22-ec85d68997cf 2023-09-01 00:00:00+00:00

                          end_date                               project  \
0 2023-06-30 23:59:59.999000+00:00  bbe91a59-1ae7-0230-0aea-090c8f31817e
1 2023-08-31 23:59:59.999000+00:00  bbe91a59-1ae7-0230-0aea-090c8f31817e
2 2023-09-30 23:59:59.999000+00:00  bbe91a59-1ae7-0230-0aea-090c8f31817e

   value  billing  expense  revenue  labor_expense  \
0  100.0    100.0      0.0      0.0            0.0
1  100.0    100.0      0.0      0.0            0.0
2  100.0    100.0      0.0      0.0            0.0

                                   user             forecast_date
0  30c9d126-7cdc-53fc-3b05-7f98b25e3c98 2023-06-21 00:00:00+00:00
1  30c9d126-7cdc-53fc-3b05-7f98b25e3c98 2023-06-21 00:00:00+00:00
2  30c9d126-7cdc-53fc-3b05-7f98b25e3c98 2023-06-21 00:00:00+00:00

,id,internal_guid,start_date,end_date,project,value,billing,expense,revenue,labor_expense,user,forecast_date,_date,date,_is_workday,_num_all_days,_num_work_days,forecast_length
20,billing,568feff7-bf6a-45bd-702e-d0378756b2a9,2023-06-01 00:00:00+00:00,2023-06-30 23:59:59.999000+00:00,bbe91a59-1ae7-0230-0aea-090c8f31817e,4.761905,100.0,0.0,0.0,0.0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-21 00:00:00+00:00,2023-06-21 00:00:00+00:00,2023-06-21 00:00:00+00:00,True,29,21,0
21,billing,568feff7-bf6a-45bd-702e-d0378756b2a9,2023-06-01 00:00:00+00:00,2023-06-30 23:59:59.999000+00:00,bbe91a59-1ae7-0230-0aea-090c8f31817e,4.761905,100.0,0.0,0.0,0.0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-21 00:00:00+00:00,2023-06-22 00:00:00+00:00,2023-06-22 00:00:00+00:00,True,29,21,1
22,billing,568feff7-bf6a-45bd-702e-d0378756b2a9,2023-06-01 00:00:00+00:00,2023-06-30 23:59:59.999000+00:00,bbe91a59-1ae7-0230-0aea-090c8f31817e,0.000000,100.0,0.0,0.0,0.0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-21 00:00:00+00:00,2023-06-23 00:00:00+00:00,2023-06-23 00:00:00+00:00,False,29,21,2
23,billing,568feff7-bf6a-45bd-702e-d0378756b2a9,2023-06-01 00:00:00+00:00,2023-06-30 23:59:59.999000+00:00,bbe91a59-1ae7-0230-0aea-090c8f31817e,0.000000,100.0,0.0,0.0,0.0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-21 00:00:00+00:00,2023-06-24 00:00:00+00:00,2023-06-24 00:00:00+00:00,False,29,21,3
24,billing,568feff7-bf6a-45bd-702e-d0378756b2a9,2023-06-01 00:00:00+00:00,2023-06-30 23:59:59.999000+00:00,bbe91a59-1ae7-0230-0aea-090c8f31817e,0.000000,100.0,0.0,0.0,0.0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-21 00:00:00+00:00,2023-06-25 00:00:00+00:00,2023-06-25 00:00:00+00:00,False,29,21,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65023,billing,5b4ace44-4f0e-71da-a6df-edd4c46dc72a,2023-07-01 00:00:00+00:00,2023-07-31 23:59:59.999000+00:00,636b2177-27c2-348f-9840-36c8ff3a5aa9,41.666667,875.0,0.0,0.0,0.0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-15 00:00:00+00:00,2023-07-27 00:00:00+00:00,2023-07-27 00:00:00+00:00,True,30,21,12
65024,billing,5b4ace44-4f0e-71da-a6df-edd4c46dc72a,2023-07-01 00:00:00+00:00,2023-07-31 23:59:59.999000+00:00,636b2177-27c2-348f-9840-36c8ff3a5aa9,41.666667,875.0,0.0,0.0,0.0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-15 00:00:00+00:00,2023-07-28 00:00:00+00:00,2023-07-28 00:00:00+00:00,True,30,21,13
65025,billing,5b4ace44-4f0e-71da-a6df-edd4c46dc72a,2023-07-01 00:00:00+00:00,2023-07-31 23:59:59.999000+00:00,636b2177-27c2-348f-9840-36c8ff3a5aa9,0.000000,875.0,0.0,0.0,0.0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-15 00:00:00+00:00,2023-07-29 00:00:00+00:00,2023-07-29 00:00:00+00:00,False,30,21,14
65026,billing,5b4ace44-4f0e-71da-a6df-edd4c46dc72a,2023-07-01 00:00:00+00:00,2023-07-31 23:59:59.999000+00:00,636b2177-27c2-348f-9840-36c8ff3a5aa9,0.000000,875.0,0.0,0.0,0.0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-15 00:00:00+00:00,2023-07-30 00:00:00+00:00,2023-07-30 00:00:00+00:00,False,30,21,15
65027,billing,5b4ace44-4f0e-71da-a6df-edd4c46dc72a,2023-07-01 00:00:00+00:00,2023-07-31 23:59:59.999000+00:00,636b2177-27c2-348f-9840-36c8ff3a5aa9,41.666667,875.0,0.0,0.0,0.0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-15 00:00:00+00:00,2023-07-31 00:00:00+00:00,2023-07-31 00:00:00+00:00,True,30,21,16

In [210]:
span = DateRange(arrow.get("2023-07-13").shift(days=-60), arrow.get("2023-07-13"))
s = await src.logic.processing.load_and_merge(span)

2023-07-13 22:20:35.461 | DEBUG    | src.logic.processing:load_and_merge:528 - span_severa=<DateRange [2023-05-14 .. 2023-07-13]>
2023-07-13 22:20:35.462 | DEBUG    | src.logic.processing:load_and_merge:530 - span_future=<DateRange [Empty]>
2023-07-13 22:20:35.462 | DEBUG    | src.logic.processing:load_and_merge:532 - forecasts_from_database=False
2023-07-13 22:20:35.470 | DEBUG    | src.logic.processing:load_and_merge:536 - Creating fetch tasks.
2023-07-13 22:20:35.471 | DEBUG    | src.logic.processing:load_and_merge:545 - Fetching from db.
2023-07-13 22:20:35.472 | DEBUG    | src.logic.processing:load_and_merge:557 - Fetching from db done.
2023-07-13 22:20:35.877 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users in 0.16s.
2023-07-13 22:20:35.904 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users in 0.16s.
2023-07-13 22:20:35.937 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users in 0.17s.
2023-07-13 22:20:35.938 | DEBUG    | src.logic.severa.client:fetch_all_user_information:202 - Fetched all users.
2023-07-13 22:20:35.940 | DEBUG    | src.logic.severa.client:fetch_single_user_information:171 - Fetching info for Vladimirs.
2023-07-13 22:20:35.941 | DEBUG    | src.logic.severa.client:fetch_single_user_information:171 - Fetching info for Miika.
2023-07-13 22:20:35.942 | DEBUG    | src.logic.severa.client:fetch_single_user_information:171 - Fetching info for Johanna.
2023-07-13 22:20:35.942 | DEBUG    | src.logic.severa.client:fetch_single_user_information:171 - Fetching info for Joni.
2023-07-13 22:20:35.943 | DEBUG    | src.logic.severa.client:fetch_single_user_information:171 - Fetching info for Panu.
2023-07-13 22:20:35.943 | DEBUG    | src.logic.severa.client:fetch_single_user_information:171 - Fetching info for Ville.
2023-07-13 22:20:35.944 | DEBUG    | src.logic.severa.client:fetch_single_user_information:171 - Fetching info for Lari.
2023-07-13 22:20:35.944 | DEBUG    | src.logic.severa.client:fetch_single_user_information:171 - Fetching info for Topi.
2023-07-13 22:20:35.945 | DEBUG    | src.logic.severa.client:fetch_single_user_information:171 - Fetching info for Margarita.
2023-07-13 22:20:35.946 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users in 0.20s.
2023-07-13 22:20:36.015 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/0d100bc1-8376-7ac5-7bbb-055cdc20497d/workhours in 0.12s.
2023-07-13 22:20:36.021 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/eb8d73da-8c1c-7996-b085-332e777dff1a/workhours in 0.14s.
2023-07-13 22:20:36.023 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/78ddf0fe-9e39-5e5e-5096-a80409925de9/workhours in 0.14s.
2023-07-13 22:20:36.040 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET projects in 0.28s.
2023-07-13 22:20:36.043 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/af48336f-0979-b971-4927-9b09d53a3cef/workhours in 0.16s.
2023-07-13 22:20:36.107 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET projects in 0.25s.
2023-07-13 22:20:36.881 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/5cd93092-3385-3e89-003a-9fe6d03a424d/workhours in 0.16s.
2023-07-13 22:20:36.940 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/2f365dcd-6ada-f6d8-8d73-4f393745e513/workhours in 0.19s.
2023-07-13 22:20:36.960 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/eb8d73da-8c1c-7996-b085-332e777dff1a/workcontracts in 0.08s.
2023-07-13 22:20:36.971 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/0d100bc1-8376-7ac5-7bbb-055cdc20497d/workcontracts in 0.09s.
2023-07-13 22:20:36.976 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/af48336f-0979-b971-4927-9b09d53a3cef/workcontracts in 0.09s.
2023-07-13 22:20:36.979 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/30c9d126-7cdc-53fc-3b05-7f98b25e3c98/workhours in 0.22s.
2023-07-13 22:20:36.982 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/2441bfbf-78f2-0173-b0a1-8634ce167a0d/workhours in 0.22s.
2023-07-13 22:20:36.985 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8/workhours in 0.23s.
2023-07-13 22:20:36.999 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET activities in 0.12s.
2023-07-13 22:20:37.011 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/78ddf0fe-9e39-5e5e-5096-a80409925de9/workcontracts in 0.12s.
2023-07-13 22:20:37.872 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/5cd93092-3385-3e89-003a-9fe6d03a424d/workcontracts in 0.12s.
2023-07-13 22:20:37.894 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/30c9d126-7cdc-53fc-3b05-7f98b25e3c98/workcontracts in 0.14s.
2023-07-13 22:20:37.895 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8/workcontracts in 0.14s.
2023-07-13 22:20:37.905 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/2441bfbf-78f2-0173-b0a1-8634ce167a0d/workcontracts in 0.14s.
2023-07-13 22:20:37.906 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/2f365dcd-6ada-f6d8-8d73-4f393745e513/workcontracts in 0.14s.
2023-07-13 22:20:37.978 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/0d100bc1-8376-7ac5-7bbb-055cdc20497d/workhours in 0.11s.
2023-07-13 22:20:37.985 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/2f365dcd-6ada-f6d8-8d73-4f393745e513/workhours in 0.11s.
2023-07-13 22:20:37.992 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/eb8d73da-8c1c-7996-b085-332e777dff1a/workhours in 0.11s.
2023-07-13 22:20:38.151 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET projects in 0.27s.
2023-07-13 22:20:38.156 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET projects in 0.27s.
2023-07-13 22:20:38.870 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/30c9d126-7cdc-53fc-3b05-7f98b25e3c98/workhours in 0.14s.
2023-07-13 22:20:38.905 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8/workhours in 0.12s.
2023-07-13 22:20:38.949 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET users/2441bfbf-78f2-0173-b0a1-8634ce167a0d/workhours in 0.17s.
2023-07-13 22:20:39.038 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET projects in 0.25s.
2023-07-13 22:20:39.048 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET projects in 0.27s.
2023-07-13 22:20:39.310 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET projects in 0.27s.
2023-07-13 22:20:39.322 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET projects in 0.27s.
2023-07-13 22:20:39.473 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET projects in 0.16s.
2023-07-13 22:20:39.511 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET projects in 0.19s.
2023-07-13 22:20:39.746 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET invoices in 0.25s.
2023-07-13 22:20:39.904 | SUCCESS  | src.logic.severa.base_client:get_with_retries:192 - HTTP/2 GET invoices in 0.14s.
2023-07-13 22:20:39.926 | DEBUG    | src.logic.processing:process:307 - <src.logic.processing.ProcessUsers object at 0x0000023D84997910>: 80
2023-07-13 22:20:39.934 | DEBUG    | src.logic.processing:process:310 -    validate: 80
2023-07-13 22:20:40.337 | DEBUG    | src.logic.processing:process:312 -    unravel: 35460
2023-07-13 22:20:40.340 | DEBUG    | src.logic.processing:process:314 -    cull_to_span: 1098
2023-07-13 22:20:40.340 | DEBUG    | src.logic.processing:load_and_merge:566 - len(hours_p.result())=984
2023-07-13 22:20:40.341 | DEBUG    | src.logic.processing:load_and_merge:567 - len(billing_p.result())=115
2023-07-13 22:20:40.341 | DEBUG    | src.logic.processing:load_and_merge:568 - len(sales_p.result())=20
2023-07-13 22:20:40.342 | DEBUG    | src.logic.processing:process:307 - <src.logic.processing.ProcessHours object at 0x0000023DDB6766D0>: 984
2023-07-13 22:20:40.354 | DEBUG    | src.logic.processing:process:310 -    validate: 984
2023-07-13 22:20:40.367 | DEBUG    | src.logic.processing:process:312 -    unravel: 1053
2023-07-13 22:20:40.370 | DEBUG    | src.logic.processing:process:314 -    cull_to_span: 1005
2023-07-13 22:20:40.371 | DEBUG    | src.logic.processing:process:307 - <src.logic.processing.ProcessBilling object at 0x0000023DDBAA3150>: 115
2023-07-13 22:20:40.381 | DEBUG    | src.logic.processing:process:310 -    validate: 115
2023-07-13 22:20:40.382 | DEBUG    | src.logic.processing:process:312 -    unravel: 115
2023-07-13 22:20:40.384 | DEBUG    | src.logic.processing:process:314 -    cull_to_span: 115
2023-07-13 22:20:40.384 | DEBUG    | src.logic.processing:process:307 - <src.logic.processing.ProcessSales object at 0x0000023D84CFF2D0>: 20
2023-07-13 22:20:40.390 | DEBUG    | src.logic.processing:process:310 -    validate: 20
2023-07-13 22:20:40.391 | DEBUG    | src.logic.processing:process:312 -    unravel: 20
2023-07-13 22:20:40.392 | DEBUG    | src.logic.processing:process:314 -    cull_to_span: 20

In [253]:
ss = s.copy()

prod_work = s[(s.id == "workhours") & s.productive].copy()
prod_work["id"] = "workhours_productive"
unprod_work = s[(s.id == "workhours") & ~s.productive].copy()
unprod_work["id"] = "workhours_unproductive"

sss = pd.concat([ss, prod_work, unprod_work], ignore_index=True)

piv = sss.pivot_table(
    values=["value"],
    index=["date", "first_name"],
    columns=["id"],
    aggfunc="sum",
    fill_value=0,
)
piv.columns = piv.columns.droplevel(0)
piv["total_hours"] = piv["absences"] + piv["workhours"]
piv["cost"] = piv["total_hours"] * piv["hour_cost"]
piv["margin"] = piv["billing"] - piv["cost"]
windowed = piv.groupby(["date"]).sum().rolling(window=7).sum()
windowed["margin%"] = windowed["margin"] / windowed["billing"]
windowed["laskutusaste"] = windowed["workhours_productive"] / windowed["workhours"]
windowed.reset_index().iloc[[-7, -1]].diff().iloc[-1]

id
date                      6 days 00:00:00
absences                             25.0
billing                           -1125.0
hour_cost                             0.0
maximum                               0.0
salesvalue                        -7075.0
workhours                           -66.5
workhours_productive                -34.0
workhours_unproductive              -32.5
total_hours                         -41.5
cost                              -1989.0
margin                              864.0
margin%                         -5.382964
laskutusaste                     0.162596
Name: 60, dtype: object

In [226]:
piv

id                                                              absences  \
date                      user
2023-05-14 00:00:00+00:00 0d100bc1-8376-7ac5-7bbb-055cdc20497d      0.00
                          2441bfbf-78f2-0173-b0a1-8634ce167a0d      0.00
                          2f365dcd-6ada-f6d8-8d73-4f393745e513      0.00
                          30c9d126-7cdc-53fc-3b05-7f98b25e3c98      0.00
                          5cd93092-3385-3e89-003a-9fe6d03a424d      0.00
...                                                                  ...
2023-07-13 00:00:00+00:00 5cd93092-3385-3e89-003a-9fe6d03a424d      0.00
                          78ddf0fe-9e39-5e5e-5096-a80409925de9      7.50
                          a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8      6.25
                          af48336f-0979-b971-4927-9b09d53a3cef      0.00
                          eb8d73da-8c1c-7996-b085-332e777dff1a      6.00

id                                                              billing  \
date                      user
2023-05-14 00:00:00+00:00 0d100bc1-8376-7ac5-7bbb-055cdc20497d      0.0
                          2441bfbf-78f2-0173-b0a1-8634ce167a0d      0.0
                          2f365dcd-6ada-f6d8-8d73-4f393745e513      0.0
                          30c9d126-7cdc-53fc-3b05-7f98b25e3c98      0.0
                          5cd93092-3385-3e89-003a-9fe6d03a424d      0.0
...                                                                 ...
2023-07-13 00:00:00+00:00 5cd93092-3385-3e89-003a-9fe6d03a424d      0.0
                          78ddf0fe-9e39-5e5e-5096-a80409925de9      0.0
                          a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8      0.0
                          af48336f-0979-b971-4927-9b09d53a3cef      0.0
                          eb8d73da-8c1c-7996-b085-332e777dff1a      0.0

id                                                              hour_cost  \
date                      user
2023-05-14 00:00:00+00:00 0d100bc1-8376-7ac5-7bbb-055cdc20497d       50.0
                          2441bfbf-78f2-0173-b0a1-8634ce167a0d       44.0
                          2f365dcd-6ada-f6d8-8d73-4f393745e513       50.0
                          30c9d126-7cdc-53fc-3b05-7f98b25e3c98       48.5
                          5cd93092-3385-3e89-003a-9fe6d03a424d       95.0
...                                                                   ...
2023-07-13 00:00:00+00:00 5cd93092-3385-3e89-003a-9fe6d03a424d       95.0
                          78ddf0fe-9e39-5e5e-5096-a80409925de9       52.0
                          a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8       43.0
                          af48336f-0979-b971-4927-9b09d53a3cef       56.0
                          eb8d73da-8c1c-7996-b085-332e777dff1a       48.5

id                                                              maximum  \
date                      user
2023-05-14 00:00:00+00:00 0d100bc1-8376-7ac5-7bbb-055cdc20497d      0.0
                          2441bfbf-78f2-0173-b0a1-8634ce167a0d      0.0
                          2f365dcd-6ada-f6d8-8d73-4f393745e513      0.0
                          30c9d126-7cdc-53fc-3b05-7f98b25e3c98      0.0
                          5cd93092-3385-3e89-003a-9fe6d03a424d      0.0
...                                                                 ...
2023-07-13 00:00:00+00:00 5cd93092-3385-3e89-003a-9fe6d03a424d      1.5
                          78ddf0fe-9e39-5e5e-5096-a80409925de9      7.5
                          a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8      7.5
                          af48336f-0979-b971-4927-9b09d53a3cef      7.5
                          eb8d73da-8c1c-7996-b085-332e777dff1a      7.5

id                                                              salesvalue  \
date                      user
2023-05-14 00:00:00+00:00 0d100bc1-8376-7ac5-7bbb-055cdc20497d         0.0
                          2441bfbf-78f2-0173-b0a1-8634ce167a0d         0.0
                          2f365dcd-6ada-f6d8-8d73-4f393745e513         0.0
                          30c9d126-7cdc-53fc-3b05-7f98b25e3c98         0.0
                          5cd93092-3385-3e89-003a-9fe6d03a424d         0.0
...                                                                    ...
2023-07-13 00:00:00+00:00 5cd93092-3385-3e89-003a-9fe6d03a424d         0.0
                          78ddf0fe-9e39-5e5e-5096-a80409925de9         0.0
                          a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8         0.0
                          af48336f-0979-b971-4927-9b09d53a3cef         0.0
                          eb8d73da-8c1c-7996-b085-332e777dff1a         0.0

id                                                              workhours  \
date                      user
2023-05-14 00:00:00+00:00 0d100bc1-8376-7ac5-7bbb-055cdc20497d        0.0
                          2441bfbf-78f2-0173-b0a1-8634ce167a0d        0.0
                          2f365dcd-6ada-f6d8-8d73-4f393745e513        0.0
                          30c9d126-7cdc-53fc-3b05-7f98b25e3c98        0.0
                          5cd93092-3385-3e89-003a-9fe6d03a424d        0.0
...                                                                   ...
2023-07-13 00:00:00+00:00 5cd93092-3385-3e89-003a-9fe6d03a424d        0.0
                          78ddf0fe-9e39-5e5e-5096-a80409925de9        0.0
                          a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8        0.0
                          af48336f-0979-b971-4927-9b09d53a3cef        0.0
                          eb8d73da-8c1c-7996-b085-332e777dff1a        0.0

id                                                              workhours_productive  \
date                      user
2023-05-14 00:00:00+00:00 0d100bc1-8376-7ac5-7bbb-055cdc20497d                   0.0
                          2441bfbf-78f2-0173-b0a1-8634ce167a0d                   0.0
                          2f365dcd-6ada-f6d8-8d73-4f393745e513                   0.0
                          30c9d126-7cdc-53fc-3b05-7f98b25e3c98                   0.0
                          5cd93092-3385-3e89-003a-9fe6d03a424d                   0.0
...                                                                              ...
2023-07-13 00:00:00+00:00 5cd93092-3385-3e89-003a-9fe6d03a424d                   0.0
                          78ddf0fe-9e39-5e5e-5096-a80409925de9                   0.0
                          a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8                   0.0
                          af48336f-0979-b971-4927-9b09d53a3cef                   0.0
                          eb8d73da-8c1c-7996-b085-332e777dff1a                   0.0

id                                                              workhours_unproductive
date                      user
2023-05-14 00:00:00+00:00 0d100bc1-8376-7ac5-7bbb-055cdc20497d                     0.0
                          2441bfbf-78f2-0173-b0a1-8634ce167a0d                     0.0
                          2f365dcd-6ada-f6d8-8d73-4f393745e513                     0.0
                          30c9d126-7cdc-53fc-3b05-7f98b25e3c98                     0.0
                          5cd93092-3385-3e89-003a-9fe6d03a424d                     0.0
...                                                                                ...
2023-07-13 00:00:00+00:00 5cd93092-3385-3e89-003a-9fe6d03a424d                     0.0
                          78ddf0fe-9e39-5e5e-5096-a80409925de9                     0.0
                          a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8                     0.0
                          af48336f-0979-b971-4927-9b09d53a3cef                     0.0
                          eb8d73da-8c1c-7996-b085-332e777dff1a                     0.0

[550 rows x 8 columns]

In [205]:
ss = s.copy()
ss.productive = ss.productive.fillna(True)
# ss.pivot_table(values=["value"], index=[pd.Grouper(key="date", freq="W")], columns=["id", "productive"], margins=True, observed=False, dropna=False, aggfunc="sum", fill_value=0)
ss.groupby([pd.Grouper(key="date", freq="W"), "id", "productive", "first_name"])[
    "value"
].sum().unstack()
# ss[ss.id == "salesvalue"]

first_name                                         Johanna       Joni  Lari  \
date                      id          productive
2023-07-02 00:00:00+00:00 absences    False       0.000000   0.000000   0.0
                                      True        0.000000   0.000000   0.0
                          billing     False       0.000000   0.000000   0.0
                                      True        0.000000   0.000000   0.0
                          daily_hours False       0.000000   0.000000   0.0
...                                                    ...        ...   ...
2023-07-30 00:00:00+00:00 salesvalue  True        0.000000   0.000000   0.0
                          saleswork   False       0.000000   0.000000   0.0
                                      True        0.663871   2.625000   0.0
                          workhours   False       0.000000  18.639053   0.0
                                      True        1.228933  10.318170   0.0

first_name                                        Margarita     Miika  Panu  \
date                      id          productive
2023-07-02 00:00:00+00:00 absences    False        0.000000  0.000000   0.0
                                      True         0.000000  0.000000   0.0
                          billing     False        0.000000  0.000000   0.0
                                      True         0.000000  0.000000   0.0
                          daily_hours False        0.000000  0.000000   0.0
...                                                     ...       ...   ...
2023-07-30 00:00:00+00:00 salesvalue  True         0.000000  0.000000   0.0
                          saleswork   False        0.000000  0.000000   0.0
                                      True         0.000000  0.000000   0.0
                          workhours   False        0.000000  2.509960   0.0
                                      True        16.463181  0.887868   0.0

first_name                                            Topi  Ville  Vladimirs
date                      id          productive
2023-07-02 00:00:00+00:00 absences    False       0.000000    0.0    0.00000
                                      True        0.000000    0.0    0.00000
                          billing     False       0.000000    0.0    0.00000
                                      True        0.000000    0.0    0.00000
                          daily_hours False       0.000000    0.0    0.00000
...                                                    ...    ...        ...
2023-07-30 00:00:00+00:00 salesvalue  True        0.000000    0.0    0.00000
                          saleswork   False       0.000000    0.0    0.00000
                                      True        0.000000    0.0    0.00000
                          workhours   False       0.000000    0.0    5.01992
                                      True        0.734314    0.0   22.63230

[70 rows x 9 columns]

In [46]:
uu = src.logic.processing.ProcessUsers(u.copy())
uu.data

uu.process(span.start.datetime, span.end.datetime).unraveled

,user,first_name,last_name,business_unit,start_date,end_date,id,value,_id,_date,_num_days,_num_workdays,_pre_scale,_zero_if_holiday,_is_workday,date
212,eb8d73da-8c1c-7996-b085-332e777dff1a,Vladimirs,Davidko,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e,2023-01-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,daily_hours,7.5,AGWTIlrCShg7HMrbudrkQw==,2023-08-01 00:00:00+00:00,242.0,168.0,1.0,True,True,2023-08-01 00:00:00+00:00
213,eb8d73da-8c1c-7996-b085-332e777dff1a,Vladimirs,Davidko,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e,2023-01-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,daily_hours,7.5,AGWTIlrCShg7HMrbudrkQw==,2023-08-02 00:00:00+00:00,242.0,168.0,1.0,True,True,2023-08-02 00:00:00+00:00
214,eb8d73da-8c1c-7996-b085-332e777dff1a,Vladimirs,Davidko,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e,2023-01-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,daily_hours,7.5,AGWTIlrCShg7HMrbudrkQw==,2023-08-03 00:00:00+00:00,242.0,168.0,1.0,True,True,2023-08-03 00:00:00+00:00
215,eb8d73da-8c1c-7996-b085-332e777dff1a,Vladimirs,Davidko,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e,2023-01-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,daily_hours,7.5,AGWTIlrCShg7HMrbudrkQw==,2023-08-04 00:00:00+00:00,242.0,168.0,1.0,True,True,2023-08-04 00:00:00+00:00
216,eb8d73da-8c1c-7996-b085-332e777dff1a,Vladimirs,Davidko,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e,2023-01-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,daily_hours,0.0,AGWTIlrCShg7HMrbudrkQw==,2023-08-05 00:00:00+00:00,242.0,168.0,1.0,True,False,2023-08-05 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36337,2441bfbf-78f2-0173-b0a1-8634ce167a0d,Margarita,Borisova,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e,2023-01-02 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,hour_cost,44.0,ALEU+hmqdwoJbmHZTWdU3g==,2023-08-27 00:00:00+00:00,241.0,168.0,1.0,False,False,2023-08-27 00:00:00+00:00
36338,2441bfbf-78f2-0173-b0a1-8634ce167a0d,Margarita,Borisova,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e,2023-01-02 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,hour_cost,44.0,ALEU+hmqdwoJbmHZTWdU3g==,2023-08-28 00:00:00+00:00,241.0,168.0,1.0,False,True,2023-08-28 00:00:00+00:00
36339,2441bfbf-78f2-0173-b0a1-8634ce167a0d,Margarita,Borisova,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e,2023-01-02 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,hour_cost,44.0,ALEU+hmqdwoJbmHZTWdU3g==,2023-08-29 00:00:00+00:00,241.0,168.0,1.0,False,True,2023-08-29 00:00:00+00:00
36340,2441bfbf-78f2-0173-b0a1-8634ce167a0d,Margarita,Borisova,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e,2023-01-02 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,hour_cost,44.0,ALEU+hmqdwoJbmHZTWdU3g==,2023-08-30 00:00:00+00:00,241.0,168.0,1.0,False,True,2023-08-30 00:00:00+00:00
36341,2441bfbf-78f2-0173-b0a1-8634ce167a0d,Margarita,Borisova,f6d9f1e8-afae-1a74-5bbd-54d840a3e40e,2023-01-02 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,hour_cost,44.0,ALEU+hmqdwoJbmHZTWdU3g==,2023-08-31 00:00:00+00:00,241.0,168.0,1.0,False,True,2023-08-31 00:00:00+00:00

In [17]:
span = DateRange(arrow.get("2023-08-01"), arrow.get("2023-08-31"))

all_projs = list(projs.values())
subset_projs = [p for p in all_projs if (not p.isClosed and not p.isInternal)]
# and p.lastUpdatedDateTime > span.start.shift(months=-4).datetime)]


print("len: ", len(all_projs), " / ", len(subset_projs))

myllymatka = "7dbc27c9-7b75-5b5b-3fb4-8d67689c6a8b"

print("Onko myllymatka all? ", myllymatka in [p.guid for p in all_projs])
print("Onko myllymatka subset? ", myllymatka in [p.guid for p in subset_projs])

m = next(p for p in all_projs if p.guid == myllymatka)
print(m.model_dump(mode="json"))

async with src.logic.severa.client.Client() as f:
    m_forecasts_all = await f._client.get_all(f"projects/{myllymatka}/projectforecasts")
    m_forecasts_span = await f._client.get_all(
        f"projects/{myllymatka}/projectforecasts", {**span}
    )

    print("len of forecasts: ", len(m_forecasts_all), " / ", len(m_forecasts_span))

len:  461  /  137
Onko myllymatka all?  True
Onko myllymatka subset?  True
{'projectStatus': {'name': 'Kunnossa', 'description': 'Vaihdettu asiakas â†’ #25126, jota sovittu kÃ¤ytettÃ¤vÃ¤n ATT:n hankkeissa.', 'projectStatusTypeGuid': '5ec93fb3-69ac-e620-9d4b-03ead8054b85', 'guid': '782ffea0-f7c6-64e0-cd5f-ab73b83ea110'}, 'isInternal': False, 'internalName': 'Haso Myllymatka', 'number': 4027, 'description': 'Projektipankki SokoPro, Villen tai Topin tunnarit. Mallit Daluxissa, Villen tunnarit.', 'isClosed': False, 'closedDate': None, 'isJoiningAllowed': True, 'customer': {'guid': '0974ee14-c8f4-ee4a-5e1b-dff6c1326622', 'name': 'Helsingin kaupunki / KYMP / RYA / Asuntotuotanto', 'number': 25126}, 'projectOwner': {'code': '125', 'name': 'Ville Reima', 'guid': '2f365dcd-6ada-f6d8-8d73-4f393745e513', 'firstName': 'Ville', 'lastName': 'Reima'}, 'businessUnit': {'guid': 'f6d9f1e8-afae-1a74-5bbd-54d840a3e40e', 'name': 'Tietomallintaminen', 'companyGuid': '972b60e7-f511-9e96-5231-b066c16b3007', 'companyName': 'Tietoa Finland Oy', 'companyBusinessUnitGuid': None, 'companyCountryGuid': '2a35ad38-f51a-8d7d-bcc5-360b0e98a883', 'companyCurrencyGuid': '0f2d2399-3dd7-a268-3bc8-1662eb88374c', 'code': 'Tietomallintaminen'}, 'currency': {'guid': '0f2d2399-3dd7-a268-3bc8-1662eb88374c', 'name': 'Euros', 'code': 'EUR', 'symbol': 'â‚¬'}, 'customerContact': {'name': 'Janita Viljander', 'guid': 'dfd3a63a-384b-6a3e-f436-b1b5462d266c', 'firstName': 'Janita', 'lastName': 'Viljander', 'isDeleted': False}, 'salesStatus': {'guid': '7ef06c1d-708a-4621-46b3-b11ac107e18b', 'name': 'Tilaus', 'salesStatusTypeGuid': 'fb1b8ca5-2026-4e0f-3169-500d1ad7603e'}, 'salesPerson': {'code': '102', 'name': 'Vladimirs Davidko', 'guid': 'eb8d73da-8c1c-7996-b085-332e777dff1a', 'firstName': 'Vladimirs', 'lastName': 'Davidko'}, 'probability': 100, 'expectedOrderDate': '2022-10-10', 'expectedValue': {'amount': 20860.0, 'currencyCode': 'EUR', 'multiCurrencyInfo': None}, 'startDate': '2022-02-14', 'deadline': '2025-12-31', 'leadSource': None, 'rootPhase': {'guid': '60f2ef55-5fe8-9c77-c3df-860c3c9e775c', 'name': 'Haso Myllymatka, koordinointi'}, 'pricelist': {'name': 'Custom', 'guid': '128c6806-8628-4b3c-cb40-7c90093f6dff', 'isCustom': True, 'isVolumePricing': False}, 'costCenter': None, 'paymentTerm': 21, 'ourReference': None, 'yourReference': None, 'orderNumber': 'B228129431', 'invoiceNotes': None, 'billingContact': None, 'invoiceTemplate': {'guid': '', 'name': 'Inherits from Customer', 'templateInvoiceGuid': None}, 'useWorkTypesFromSetting': False, 'defaultWorkType': {'guid': '9505f61d-6f6e-b847-9492-3b2141503d3d', 'name': 'SKOL02_Konsultointi'}, 'useProductsFromSetting': True, 'isMileageBillable': True, 'isDailyAllowanceBillable': True, 'isOtherTravelExpensesBillable': True, 'useOvertimeMultipliers': True, 'keywords': [{'guid': '815256ee-3b54-68f4-a233-9604980b05d7', 'name': 'Tie_Tietomallikoordinointi'}], 'completionEstimatePercentage': None, 'calculatedCompletionPercentage': 69, 'guid': '7dbc27c9-7b75-5b5b-3fb4-8d67689c6a8b', 'name': 'Haso Myllymatka, koordinointi', 'createdDateTime': '2021-11-04T17:05:14+02:00', 'createdBy': {'code': '116', 'name': 'Sanna  Liuksiala', 'guid': '4e51fb18-3aa4-d9e6-e8da-aff3bde6857a', 'firstName': 'Sanna ', 'lastName': 'Liuksiala'}, 'lastUpdatedDateTime': '2023-02-09T15:45:23+02:00', 'lastUpdatedBy': {'code': '125', 'name': 'Ville Reima', 'guid': '2f365dcd-6ada-f6d8-8d73-4f393745e513', 'firstName': 'Ville', 'lastName': 'Reima'}}

2023-07-10 20:34:49.772 | SUCCESS  | src.logic.severa.base_client:get_with_retries:193 - HTTP/2 GET projects/7dbc27c9-7b75-5b5b-3fb4-8d67689c6a8b/projectforecasts in 0.11s.
2023-07-10 20:34:49.886 | SUCCESS  | src.logic.severa.base_client:get_with_retries:193 - HTTP/2 GET projects/7dbc27c9-7b75-5b5b-3fb4-8d67689c6a8b/projectforecasts in 0.11s.

len of forecasts:  4  /  1

In [20]:
billing

,id,internal_guid,start_date,end_date,project,value,billing,expense,revenue,labor_expense,user,forecast_date,_id
0,billing,2e1893e7-2a19-f04a-84eb-77f36d1e9b66,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,bbe91a59-1ae7-0230-0aea-090c8f31817e,100.0,100.0,0,0,0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-07-10 00:00:00+00:00,ANqt4a1QgmPzcMs0wlZBRA==
1,billing,a7b6ba70-b289-c43f-e272-d1f0dde68585,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,b5432d39-bbb3-cd66-1e3f-c75411db4a95,1430.0,1430.0,0,0,0,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,2023-07-10 00:00:00+00:00,AKQjosKYW6ICtT5RIu1Bug==
2,billing,4ee052a5-b6f0-01b1-3123-5ccab1129ae6,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,9a6e0602-cd0b-b8f2-14d3-2690c3db82f1,0.0,0.0,0,0,624,78ddf0fe-9e39-5e5e-5096-a80409925de9,2023-07-10 00:00:00+00:00,AB+cvNqeiFyso0440tqwLA==
3,billing,43e25be8-5142-ba12-bcc3-7e6a00e8f55e,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,a3fa82b7-7692-4f84-14dc-4ee4e7a053a3,2900.0,2900.0,0,0,0,eb8d73da-8c1c-7996-b085-332e777dff1a,2023-07-10 00:00:00+00:00,ABfGkASomgmI713zoMnvyw==
4,billing,4e7d8e96-a31c-de9f-19b2-1a3fbe175d93,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,fc863117-ad5d-d5ca-fc48-a4262b82ef1a,2700.0,2700.0,0,0,0,78ddf0fe-9e39-5e5e-5096-a80409925de9,2023-07-10 00:00:00+00:00,APMbv5D99ysNOV7wh9UukQ==
5,billing,1193c5fc-3503-fc3e-c26d-14b639a30b40,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,41c84efd-9c66-ed83-2c50-7a638d5080f4,1170.0,1170.0,0,0,0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-07-10 00:00:00+00:00,ADA04+96brsCUIukGAC+wA==
6,billing,4b5e04ed-2810-71a6-d488-23269c0439a5,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,c9ed2f7d-15cc-8f70-6456-319a8389ee8c,1000.0,1000.0,0,0,0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-10 00:00:00+00:00,ABFiIruNhV7T1vVtIkuApQ==
7,billing,cf4781b8-105c-f56a-9a17-6217b9801ddd,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,2363278a-275f-ce2c-7a3b-5beea945c845,1300.0,1300.0,0,0,0,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,2023-07-10 00:00:00+00:00,AARP01gh+ZcW9c2wg01gDQ==
8,billing,2371e7a5-472e-fa33-3ea6-304b3468e7b3,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,988c51fd-a7c9-1443-18b9-b9d9f51fb12e,1400.0,1400.0,0,0,0,af48336f-0979-b971-4927-9b09d53a3cef,2023-07-10 00:00:00+00:00,AObbAcAvwYn7SYU4J2cWPQ==
9,billing,850131ca-707c-6401-870d-bcec52e02e3e,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,dece01c7-5324-c4b4-2bab-497009174f92,1300.0,1300.0,0,0,0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-10 00:00:00+00:00,APJq2pVsoYzAKffFIkTGxQ==
10,billing,7db00154-2449-d62f-1cd0-72e02b4b401f,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,282a5e8c-a449-a9eb-3936-81ea9a4f323e,1510.0,1510.0,0,0,0,eb8d73da-8c1c-7996-b085-332e777dff1a,2023-07-10 00:00:00+00:00,AHWXpw19ZrZ6eip2tmy+zw==
11,billing,c3215ce0-fb4d-27c3-1836-22952660b3ae,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,bf48e17f-7503-7ec5-87a8-25ad5cebd210,1000.0,1000.0,0,0,0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-07-10 00:00:00+00:00,AMY19Yp3adw1nWS+qZrG2Q==
12,billing,47149b4a-b32d-4d5d-4fcd-b79735def066,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,7dff98a8-da80-1006-4bb1-2bda3507c7d4,1500.0,1500.0,0,0,0,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,2023-07-10 00:00:00+00:00,AKi4bPmdpEkjuAXim+yVBA==
13,billing,b6fded3e-52ed-57e5-e861-71389a2fc45a,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,2fd23afe-9371-9758-ec6e-f36dcfefe7dc,1300.0,1300.0,0,0,0,af48336f-0979-b971-4927-9b09d53a3cef,2023-07-10 00:00:00+00:00,ABtwphpbFCKC4Le/MWAiwA==
14,billing,2992a33f-de12-6a2b-390b-01eff5b78725,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,1147b7dd-7117-0136-4af1-c9db5a2a886d,1308.0,1308.0,0,0,0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-07-10 00:00:00+00:00,ALDBLI+ks7JZyS+nZdewkQ==
15,billing,b3180177-a2f8-ab39-d005-9d3cbfbc80c8,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,010ff3d4-aa1f-81a4-f8cf-82237f803dc2,1250.0,1250.0,0,0,0,0d100bc1-8376-7ac5-7bbb-055cdc20497d,2023-07-10 00:00:00+00:00,AOnM3U7S94eWEgareycLyw==
16,billing,0e6aacd6-ce36-6cea-22b5-75752445bf09,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,37dd7ad8-a74a-ef0f-124f-e18ab514b424,180.0,180.0,0,0,0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-07-10 00:00:00+00:00,ABvPaLNbsywN4nh4ePqKFg==
17,billing,cb671d99-cff3-f6eb-4443-644d9b334630,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,cdf32526-cc4f-0821-fa2d-8cf60e186dfc,1524.6,1524.6,0,0,0,eb8d73da-8c1c-7996-b085-332e777dff1a,2023-07-10 00:00:00+00:00,AE3hVBCRmMzGRgtNW9sAIA==
18,billing,6a672457-ac16-04f1-ea23-044147afd4c7,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,4bdb8c27-17bd-fd15-ca35-63770e74c25d,1400.0,1400.0,0,0,0,0d100bc1-8376-7ac5-7bbb-055cdc20497d,2023-07-10 00:00:00+00:00,APgC+2DgyziQoiuhVJNI9w==
19,billing,21c0bdd4-8d13-12a6-a1f1-d96e188fc976,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,8eca9cdc-c442-a486-a7c0-4e9191c36528,1400.0,1400.0,0,0,0,eb8d73da-8c1c-7996-b085-332e777dff1a,2023-07-10 00:00:00+00:00,ALHWw3gPT+X9kNCeFdlABQ==
20,billing,adb056e2-762e-ecec-78e5-26bf5b4a9129,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,4502885e-deab-4a88-7dd9-83257b83c744,1250.0,1250.0,0,0,0,2f365dcd-6ada-f6d8-8d73-4f393745e513,2023-07-10 00:00:00+00:00,AJM9a3E8uInnNJa159hROg==
21,billing,2e37971a-d5a1-aa8b-bf56-488454f51bf0,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,7dbc27c9-7b75-5b5b-3fb4-8d67689c6a8b,1250.0,1250.0,0,0,0,2f365dcd-6ada-f6d8-8d73-4f393745e513,2023-07-10 00:00:00+00:00,APbUgNKLukWMRzxlPXe6XQ==
22,billing,f40b38a2-f6f6-e132-d8c4-6b6eecff5d0b,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,732c65d5-ebe4-6c5c-3e67-011a66dc21a7,1456.0,1456.0,0,0,0,eb8d73da-8c1c-7996-b085-332e777dff1a,2023-07-10 00:00:00+00:00,AEUoMbHxGlQ3CBOrBKJRlg==
23,billing,b59b4582-1c96-dcaf-6b97-d1f4e0893e86,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,c59efc80-4c6c-5a0c-c77e-5e5561cfbbfd,1400.0,1400.0,0,0,0,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,2023-07-10 00:00:00+00:00,ANzccJzLWNJVt3/YL42NTQ==
24,billing,e5734b72-2c53-63f9-c684-813147b1fb44,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,1a9d6087-d628-5ee2-33b2-852ef9d87ca0,1150.0,1150.0,0,0,0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-10 00:00:00+00:00,ABEk7FGOKsh77SRr9rLOjg==
25,billing,9678ae3b-8838-fa44-3663-936581c5f999,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,8f50df8e-b7c4-9d60-18f6-0db7b87c6156,1250.0,1250.0,0,0,0,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,2023-07-10 00:00:00+00:00,ALXrdPKnVY6PnIrkBz7Vkw==
26,billing,baae56de-343c-02a3-65b0-6c80389f8486,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,23caa50b-ce96-09b7-f03c-052e91a8ea95,1200.0,1200.0,0,0,0,eb8d73da-8c1c-7996-b085-332e777dff1a,2023-07-10 00:00:00+00:00,AN1sPHgVw+3Od3QK6cBdsA==
27,billing,683c1764-690b-06e8-9d2d-8c15131f5f5e,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,7868dd76-9e97-5aeb-ca46-beb67e9560b2,2800.0,2800.0,0,0,0,78ddf0fe-9e39-5e5e-5096-a80409925de9,2023-07-10 00:00:00+00:00,ADLCuAp2nHyTnKBtIcPI6g==
28,billing,cd6b4d4c-9834-ac81-5471-d403fd391978,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,24e8dd29-d61b-c481-5013-0ff872b54c5d,1550.0,1550.0,0,0,0,eb8d73da-8c1c-7996-b085-332e777dff1a,2023-07-10 00:00:00+00:00,ABmuRLLg/T5gDVkcS1U9Iw==
29,billing,bdc277e1-d66e-d890-be70-7ff0a0238896,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,169df11b-650a-34e7-a6d7-d38ac6278dd6,1450.0,1450.0,0,0,0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-07-10 00:00:00+00:00,ANVJXZwRsr4N9Ne1ySiuaA==
30,billing,3f6bbfa7-b6c9-0677-c660-0358d64f67c1,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,575195c7-e24a-f06f-16b2-6f4e8cf4c487,1450.0,1450.0,0,0,0,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,2023-07-10 00:00:00+00:00,AKd1VkW1l3AkXj04zK604g==
31,billing,9400a410-cc13-ce55-fada-8d6e992b1ec4,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,af008ee1-a17d-8268-63ae-cd1e898519f9,7000.0,7000.0,0,0,0,2f365dcd-6ada-f6d8-8d73-4f393745e513,2023-07-10 00:00:00+00:00,AFqB9Mt7/ciQyU4Ur25SsQ==
32,billing,acec15fb-3ecd-2d81-8cc8-57d592256e54,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,bc7710f2-37a0-d14b-fcd4-a9e4fe8a95dd,1450.0,1450.0,0,0,0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-07-10 00:00:00+00:00,AJqd5IRlO7QHaJgSfzvvnQ==
33,billing,ed30a6f7-b68a-273f-ebe3-0713c5a4d73e,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,75a14192-4a33-bb20-7a85-4cd4b5f69971,1500.0,1500.0,0,0,0,eb8d73da-8c1c-7996-b085-332e777dff1a,2023-07-10 00:00:00+00:00,ABslZz2LcpSCCVJw0OWuRw==
34,billing,31c0baa0-a001-b9c6-ea31-05735f31112f,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,758cb819-e200-321b-03f6-8a086323ed68,750.0,750.0,0,0,0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-07-10 00:00:00+00:00,AJp9g/0eiFp08jbchdpYBA==
35,billing,0955fa66-9643-d627-4d75-be56c20794e1,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,ecd89a1f-bb59-871b-99e6-a6ab02663c18,1320.0,1320.0,0,0,0,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,2023-07-10 00:00:00+00:00,AA1Q+sROEWeJNqvJ9tICHw==
36,billing,ea006a3e-c884-f432-9ba9-57d4c63ae1f6,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,275af37e-6b49-b067-43bc-5a395c60eea2,500.0,500.0,0,0,0,2ed8156d-f3f9-2212-c739-b0d9f7ac81ca,2023-07-10 00:00:00+00:00,ANaIbAsNTLaRQJQSpqNKzA==
37,billing,17b8bbf7-357a-98ab-1bae-77598df79cb3,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,efd040a7-b946-7f32-cdc7-5254d4707403,250.0,250.0,0,0,0,2f365dcd-6ada-f6d8-8d73-4f393745e513,2023-07-10 00:00:00+00:00,AFatyf4DH8OSVsnsm3r3Ng==
38,billing,a4500089-bc69-669c-47a2-16a1f1f26e72,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,a8a6a608-6438-d4ae-5a3a-da39e0dd47e5,1235.0,1235.0,0,0,0,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,2023-07-10 00:00:00+00:00,AFLeMqAdOXg8KhYDz1tlzg==
39,billing,6c0e3286-674f-839e-9804-be538bc40cec,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,5719fb2a-0f68-2572-d555-59a2a6e7e448,1250.0,1250.0,0,0,0,2f365dcd-6ada-f6d8-8d73-4f393745e513,2023-07-10 00:00:00+00:00,ADmvx7f6GG1Qp7VNEhq/5w==
40,billing,79cebb49-7695-0245-1173-e5baaa5c7a8c,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,1357cfa5-bf9d-e0f1-466d-eeac7d76a053,1210.0,1210.0,0,0,0,0d100bc1-8376-7ac5-7bbb-055cdc20497d,2023-07-10 00:00:00+00:00,ACd4dNU7ZJsZ3GWuCHmUYg==
41,billing,d98b2cd1-627a-c5b1-87b2-b0ab4625f61e,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,5dd461bd-7028-89db-d995-13a428b8897f,2000.0,2000.0,0,0,0,0d100bc1-8376-7ac5-7bbb-055cdc20497d,2023-07-10 00:00:00+00:00,AGeffxQ5qTvokZFC/I/rHA==
42,billing,e8cf3f6e-f131-1d9b-60d5-cf46ce345241,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,1fb96c33-4bcb-3416-dc3f-e6cfa105c7f5,1450.0,1450.0,0,0,0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-07-10 00:00:00+00:00,AJRMI8ZZqgwoeFlE369AgA==
43,billing,cef45f0f-f6dd-e75c-2a6d-1fa057d2af1e,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,8cf885e9-caba-d290-d192-9769ec5a9deb,2125.0,2125.0,0,0,0,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,2023-07-10 00:00:00+00:00,ADrBfaqUcjJa9Bl034afOw==
44,billing,6356cd69-5dc5-4e83-f675-c818f163da29,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,bc1d661f-c101-158a-ef5f-c9b962eb0ec1,1000.0,1000.0,0,0,0,2f365dcd-6ada-f6d8-8d73-4f393745e513,2023-07-10 00:00:00+00:00,AGTARxK/fBUlUQsfJM2gnQ==
45,billing,2c5be2bc-c4ab-1013-317f-3caa9ac3b68e,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,4ff6a479-11f9-7dc7-91c4-474d1372c95d,1560.0,1560.0,0,0,0,eb8d73da-8c1c-7996-b085-332e777dff1a,2023-07-10 00:00:00+00:00,AEp/Fi4L/DyT8lx5cwKe0g==
46,billing,2b534a1c-6c87-1567-4a7a-67260317473f,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,4bf5299c-cac4-e8ba-7262-108aece1e207,1500.0,1500.0,0,0,0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-10 00:00:00+00:00,APzQzWAj+5NcpiQndVXYCg==
47,billing,d3c8c256-9a1c-f79e-a4f0-201ca9b3914a,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,2d4fbce0-6524-15c2-1180-348bb49ef047,1000.0,1000.0,0,0,0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-10 00:00:00+00:00,AOMAiQM67h3Rw5XwS03hMQ==
48,billing,acb8ffef-b85b-6594-60e9-c0436decf0f3,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,d9dafcdb-b1f6-8af8-eb7d-861da9373a0f,1200.0,1200.0,0,0,0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-10 00:00:00+00:00,AAFDfjNmeiYbf9rtkGLVhQ==
49,billing,49f12040-d765-5e01-ff01-42beb2ad8102,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,d87897ec-f281-869b-0671-4a42423fe1d6,1250.0,1250.0,0,0,0,eb8d73da-8c1c-7996-b085-332e777dff1a,2023-07-10 00:00:00+00:00,AIGY2xU1o7qMjdVtlodXtg==
50,billing,6f39da90-226b-3969-a9ae-d9467ff5d997,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,0c62ee6f-21b8-3f62-0af8-48d2531b2418,1500.0,1500.0,0,0,0,0d100bc1-8376-7ac5-7bbb-055cdc20497d,2023-07-10 00:00:00+00:00,ACi5T9mmVQGvTB6Huot5gQ==
51,billing,e334f1b6-b4c4-45c1-925b-de2b6af41e3a,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,a37fd60d-9f8b-d8be-7741-64b2e07af0bd,1450.0,1450.0,0,0,0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-07-10 00:00:00+00:00,ANWS/jWzYt3DNVQcOz9pUQ==
52,billing,e555ab09-5b82-a6d5-db9f-a5ad8453e8f7,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,f4ce9def-5d8c-eb2f-e6ff-a3a28aa307a5,1450.0,1450.0,0,0,0,eb8d73da-8c1c-7996-b085-332e777dff1a,2023-07-10 00:00:00+00:00,AC/Q7g5IStjTJ2n/BS4r0g==
53,billing,e87b81db-0490-d5ab-5053-6e6544f865f5,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,cfc9deb6-d2ee-a4ba-9772-c331e5365dad,1000.0,1000.0,0,0,0,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-07-10 00:00:00+00:00,AMRMH1oMN1NRn5qNF5F0+w==
54,billing,85881aa7-8cf5-7a86-7df5-8df9a9c92353,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,cfb288e4-0b13-7907-153c-c865df2228cd,1170.0,1170.0,0,0,0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-10 00:00:00+00:00,APIkg3A0BjUfKX+n53Umaw==
55,billing,6c9d39ec-49b0-3096-9f2f-fb2e4361969d,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,82f8a4df-ea8a-dd8b-2a3a-366296048e3d,2000.0,2000.0,0,0,0,2ed8156d-f3f9-2212-c739-b0d9f7ac81ca,2023-07-10 00:00:00+00:00,AG1qWi/hoiVz/+k8B/sc1Q==
56,billing,11374a79-06da-4f85-85ff-e65cd602e6d3,2023-08-01 00:00:00+00:00,2023-08-31 23:59:59.999999+00:00,94978b2c-d2c4-7890-693e-2c1f97b7fb3f,1150.0,1150.0,0,0,0,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-07-10 00:00:00+00:00,AARUCJC+/CXjBlbMBwnttQ==

In [22]:
billing.pivot_table(
    "value",
    index=["user"],
    columns="id",
    aggfunc="sum",
    fill_value=0,
    dropna=False,
).reset_index()

# billing[billing.user == "2f365dcd-6ada-f6d8-8d73-4f393745e513"]

id                               user     billing
0   0d100bc1-8376-7ac5-7bbb-055cdc20497d   7360.0
1   2441bfbf-78f2-0173-b0a1-8634ce167a0d   9470.0
2   2ed8156d-f3f9-2212-c739-b0d9f7ac81ca   2500.0
3   2f365dcd-6ada-f6d8-8d73-4f393745e513  12000.0
4   30c9d126-7cdc-53fc-3b05-7f98b25e3c98  11308.0
5   78ddf0fe-9e39-5e5e-5096-a80409925de9   5500.0
6   a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8  13010.0
7   af48336f-0979-b971-4927-9b09d53a3cef   2700.0
8   eb8d73da-8c1c-7996-b085-332e777dff1a  17300.6

In [27]:
import asyncio
import src.logic.severa.rate_limiter

reload(src.logic.severa.rate_limiter)

async with src.logic.severa.rate_limiter.Limiter() as l:
    gets = [l.get(f"req {i}") for i in range(15)]
    await asyncio.gather(*gets)

CancelledError:

In [11]:
base = src.database.database.Base("kpi-dev-02", "billing")
latest_date = base.find_max_value("forecast_date")

billing_f = base.find({"forecast_date": latest_date})

2023-07-10 16:07:15.981 | INFO     | src.database.database:find:90 - [billing] Query '{'forecast_date': datetime.datetime(2023, 7, 9, 0, 0)}' resulted in 68 results in 0.31s.

In [17]:
x = src.util.process.unravel(billing_f)
x[(x.date >= "2023-08-01") & (x.date < "2023-09-01")].pivot_table(
    "value",
    index=["user"],
    columns="id",
    aggfunc="sum",
    fill_value=0,
    dropna=False,
).reset_index()

id                               user     billing
0   0d100bc1-8376-7ac5-7bbb-055cdc20497d   6110.0
1   2441bfbf-78f2-0173-b0a1-8634ce167a0d   9470.0
2   2ed8156d-f3f9-2212-c739-b0d9f7ac81ca   2000.0
3   2f365dcd-6ada-f6d8-8d73-4f393745e513   7000.0
4   30c9d126-7cdc-53fc-3b05-7f98b25e3c98   6238.0
5   78ddf0fe-9e39-5e5e-5096-a80409925de9   5500.0
6   a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8   5700.0
7   af48336f-0979-b971-4927-9b09d53a3cef   1400.0
8   eb8d73da-8c1c-7996-b085-332e777dff1a  10090.6

In [15]:
u = src.severa.process.unravel(hours)
c = src.severa.process.cull_before(
    u,
    t.floor("day"),
    ["workhours", "saleswork"],  # absences?
    inclusive=False,
)
d = (
    c.groupby(["user", "id", "date", "productive", "project"], dropna=False)["value"]
    .sum()
    .reset_index()
)

d.id.unique()

C:\Users\vireima\tie-dashboard\src\severa\process.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "_num_workdays"] = data.loc[:, :].apply(

<StringArray>
['absences', 'maximum', 'saleswork', 'workhours']
Length: 4, dtype: string

In [4]:
base = src.database.Base("kpi-dev-02", "billing")
billing_f = base.find({"forecast_date": arrow.utcnow().floor("day").datetime})

base = src.database.Base("kpi-dev-02", "hours")
hours_f = base.find({"forecast_date": arrow.utcnow().floor("day").datetime})

2023-07-04 20:49:38.562 | INFO     | src.database:find:90 - [billing] Query '{'forecast_date': datetime.datetime(2023, 7, 4, 0, 0, tzinfo=tzutc())}' resulted in 71 results in 1.69s.
2023-07-04 20:49:40.817 | INFO     | src.database:find:90 - [hours] Query '{'forecast_date': datetime.datetime(2023, 7, 4, 0, 0, tzinfo=tzutc())}' resulted in 226 results in 2.23s.

In [73]:
b = (
    src.severa.process.cull_before(
        src.severa.process.unravel(pd.concat([billing, billing_f], ignore_index=True)),
        arrow.utcnow().floor("day"),
        ["workhours", "billing"],
        inclusive=False,
    )
    .groupby(["user", "id", "date"])["value"]
    .sum()
    .reset_index()
)
b[b.value != 0]

cols = list(set(hours.columns) & set(hours_f.columns))
h1 = src.severa.process.sanitize_dates(
    hours, ["date", "start_date", "end_date", "forecast_date"]
)
h1 = src.severa.process.unravel(h1)

tot_hours1 = (
    y[y.id.isin(["workhours", "absences"])]
    .groupby(["user", "date"])["value"]
    .sum()
    .reset_index()
    .copy()
)
tot_hours1["id"] = "cost"
tot_hours1["value"] = cost.apply(lambda x: us2[x.user] * x.value, axis=1)


h2 = src.severa.process.sanitize_dates(
    hours_f, ["date", "start_date", "end_date", "forecast_date"]
)
h2 = src.severa.process.unravel(h2)

h3 = h1.merge(h2, on=cols, how="outer")

h = (
    src.severa.process.cull_before(
        h3,
        arrow.utcnow().floor("day"),
        ["workhours", "saleswork", "absences"],
        inclusive=False,
    )
    .groupby(["user", "id", "date"])["value"]
    .sum()
    .reset_index()
)

y = pd.concat([b[b.value != 0], h[h.value != 0]], ignore_index=True)
y = y[y.date.between(span.start.datetime, span.end.datetime)]

realized_cost = (
    y[(y.date <= arrow.utcnow().datetime) & (y.id.isin(["workhours", "absences"]))]
    .groupby(["user", "date"])["value"]
    .sum()
    .reset_index()
    .copy()
)


forecasted_cost = (
    y[(y.date > arrow.utcnow().datetime) & (y.id.isin(["maximum"]))]
    .groupby(["user", "date"])["value"]
    .sum()
    .reset_index()
    .copy()
)
print(forecasted_cost.value.mean())
print(forecasted_cost.sample(30))

cost = pd.concat([realized_cost, forecasted_cost], ignore_index=True)

cost["id"] = "cost"
cost["value"] = cost.apply(lambda x: us2[x.user] * x.value, axis=1)
cost.sample(50)

pd.concat([y, cost], ignore_index=True)

C:\Users\vireima\tie-dashboard\src\severa\process.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "_num_workdays"] = data.loc[:, :].apply(
C:\Users\vireima\tie-dashboard\src\severa\process.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "_num_workdays"] = data.loc[:, :].apply(
C:\Users\vireima\tie-dashboard\src\severa\process.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "_num_workdays"] = data.loc[:, :].apply(

7.162210338680927
                                      user                      date  value
59    0d100bc1-8376-7ac5-7bbb-055cdc20497d 2023-09-26 00:00:00+00:00    7.5
1059  2f365dcd-6ada-f6d8-8d73-4f393745e513 2024-09-25 00:00:00+00:00    7.5
1488  30c9d126-7cdc-53fc-3b05-7f98b25e3c98 2024-12-12 00:00:00+00:00    7.5
467   2441bfbf-78f2-0173-b0a1-8634ce167a0d 2023-11-13 00:00:00+00:00    7.5
3070  eb8d73da-8c1c-7996-b085-332e777dff1a 2023-10-23 00:00:00+00:00    7.5
1621  5cd93092-3385-3e89-003a-9fe6d03a424d 2024-01-02 00:00:00+00:00    1.5
1666  5cd93092-3385-3e89-003a-9fe6d03a424d 2024-03-05 00:00:00+00:00    1.5
511   2441bfbf-78f2-0173-b0a1-8634ce167a0d 2024-01-18 00:00:00+00:00    7.5
2214  78ddf0fe-9e39-5e5e-5096-a80409925de9 2024-11-11 00:00:00+00:00    7.5
1039  2f365dcd-6ada-f6d8-8d73-4f393745e513 2024-08-28 00:00:00+00:00    7.5
1023  2f365dcd-6ada-f6d8-8d73-4f393745e513 2024-08-06 00:00:00+00:00    7.5
325   0d100bc1-8376-7ac5-7bbb-055cdc20497d 2024-10-15 00:00:00+00:00    7.5
3182  eb8d73da-8c1c-7996-b085-332e777dff1a 2024-04-04 00:00:00+00:00    7.5
524   2441bfbf-78f2-0173-b0a1-8634ce167a0d 2024-02-06 00:00:00+00:00    7.5
340   0d100bc1-8376-7ac5-7bbb-055cdc20497d 2024-11-05 00:00:00+00:00    7.5
1860  5cd93092-3385-3e89-003a-9fe6d03a424d 2024-12-10 00:00:00+00:00    1.5
2945  af48336f-0979-b971-4927-9b09d53a3cef 2024-10-17 00:00:00+00:00    7.5
1137  30c9d126-7cdc-53fc-3b05-7f98b25e3c98 2023-07-26 00:00:00+00:00   15.0
2907  af48336f-0979-b971-4927-9b09d53a3cef 2024-08-26 00:00:00+00:00    7.5
2047  78ddf0fe-9e39-5e5e-5096-a80409925de9 2024-03-14 00:00:00+00:00    7.5
3326  eb8d73da-8c1c-7996-b085-332e777dff1a 2024-10-28 00:00:00+00:00    7.5
676   2441bfbf-78f2-0173-b0a1-8634ce167a0d 2024-09-12 00:00:00+00:00    7.5
2791  af48336f-0979-b971-4927-9b09d53a3cef 2024-03-08 00:00:00+00:00    7.5
999   2f365dcd-6ada-f6d8-8d73-4f393745e513 2024-07-03 00:00:00+00:00    7.5
3113  eb8d73da-8c1c-7996-b085-332e777dff1a 2023-12-22 00:00:00+00:00    7.5
3228  eb8d73da-8c1c-7996-b085-332e777dff1a 2024-06-11 00:00:00+00:00    7.5
88    0d100bc1-8376-7ac5-7bbb-055cdc20497d 2023-11-06 00:00:00+00:00    7.5
139   0d100bc1-8376-7ac5-7bbb-055cdc20497d 2024-01-22 00:00:00+00:00    7.5
1678  5cd93092-3385-3e89-003a-9fe6d03a424d 2024-03-21 00:00:00+00:00    1.5
2508  a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8 2024-07-22 00:00:00+00:00    7.5

,user,id,date,value
0,0d100bc1-8376-7ac5-7bbb-055cdc20497d,billing,2023-08-01 00:00:00+00:00,320.0
1,0d100bc1-8376-7ac5-7bbb-055cdc20497d,billing,2023-08-02 00:00:00+00:00,320.0
2,0d100bc1-8376-7ac5-7bbb-055cdc20497d,billing,2023-08-03 00:00:00+00:00,320.0
3,0d100bc1-8376-7ac5-7bbb-055cdc20497d,billing,2023-08-04 00:00:00+00:00,320.0
4,0d100bc1-8376-7ac5-7bbb-055cdc20497d,billing,2023-08-07 00:00:00+00:00,320.0
...,...,...,...,...
11036,eb8d73da-8c1c-7996-b085-332e777dff1a,cost,2024-12-17 00:00:00+00:00,363.75
11037,eb8d73da-8c1c-7996-b085-332e777dff1a,cost,2024-12-18 00:00:00+00:00,363.75
11038,eb8d73da-8c1c-7996-b085-332e777dff1a,cost,2024-12-19 00:00:00+00:00,363.75
11039,eb8d73da-8c1c-7996-b085-332e777dff1a,cost,2024-12-20 00:00:00+00:00,363.75
11040,eb8d73da-8c1c-7996-b085-332e777dff1a,cost,2024-12-23 00:00:00+00:00,363.75

In [52]:
a = billing.groupby(["user", "id", "date"])["value"].sum().reset_index()
b = (
    src.severa.process.cull_before(
        src.severa.process.unravel(billing_f),
        arrow.utcnow().floor("day"),
        ["workhours", "billing"],
        inclusive=False,
    )
    .groupby(["user", "id", "date"])["value"]
    .sum()
    .reset_index()
)

c = pd.concat([a, b], ignore_index=True)
c  # 751
cc = c.groupby(["user", "id", "date"])["value"].sum().reset_index()

hours.groupby(["user", "id", "date"])["value"].sum().reset_index()
hours[pd.isna(hours.date)]

cols = list(set(hours.columns) & set(hours_f.columns))
h1 = src.severa.process.sanitize_dates(
    hours, ["date", "start_date", "end_date", "forecast_date"]
)
h2 = src.severa.process.sanitize_dates(
    hours_f, ["date", "start_date", "end_date", "forecast_date"]
)
h = h1.merge(h2, on=cols, how="outer")

x = (
    src.severa.process.cull_before(
        src.severa.process.unravel(h),
        arrow.utcnow().floor("day"),
        ["workhours", "saleswork", "abcenses", "billing"],
        inclusive=False,
    )
    .groupby(["user", "id", "date"])["value"]
    .sum()
    .reset_index()
)
print(len(x))
print(len(cc))

z = pd.concat([x, cc], ignore_index=True)
print(len(z))
print(len(z[z.value != 0]))
z[z.value != 0].sample(50)

C:\Users\vireima\tie-dashboard\src\severa\process.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "_num_workdays"] = data.loc[:, :].apply(

33804
751
34555
23972

,user,id,date,value
17685,5cd93092-3385-3e89-003a-9fe6d03a424d,maximum,2024-04-11 00:00:00+00:00,1.5
32818,eb8d73da-8c1c-7996-b085-332e777dff1a,maximum,2026-01-02 00:00:00+00:00,7.5
16035,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,workhours,2024-09-20 00:00:00+00:00,1.015568
5616,2441bfbf-78f2-0173-b0a1-8634ce167a0d,maximum,2022-08-31 00:00:00+00:00,7.5
30767,eb8d73da-8c1c-7996-b085-332e777dff1a,maximum,2020-05-22 00:00:00+00:00,7.5
3740,0d100bc1-8376-7ac5-7bbb-055cdc20497d,workhours,2023-07-05 00:00:00+00:00,0.175562
6849,2441bfbf-78f2-0173-b0a1-8634ce167a0d,maximum,2026-01-15 00:00:00+00:00,7.5
13138,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,maximum,2024-06-06 00:00:00+00:00,7.5
7365,2441bfbf-78f2-0173-b0a1-8634ce167a0d,maximum,2027-06-15 00:00:00+00:00,7.5
20848,78ddf0fe-9e39-5e5e-5096-a80409925de9,maximum,2025-02-26 00:00:00+00:00,7.5
20129,78ddf0fe-9e39-5e5e-5096-a80409925de9,maximum,2023-03-10 00:00:00+00:00,7.5
20889,78ddf0fe-9e39-5e5e-5096-a80409925de9,maximum,2025-04-08 00:00:00+00:00,7.5
33475,eb8d73da-8c1c-7996-b085-332e777dff1a,maximum,2027-10-21 00:00:00+00:00,7.5
20689,78ddf0fe-9e39-5e5e-5096-a80409925de9,maximum,2024-09-20 00:00:00+00:00,7.5
17129,5cd93092-3385-3e89-003a-9fe6d03a424d,maximum,2022-10-03 00:00:00+00:00,1.5
15851,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,workhours,2024-03-20 00:00:00+00:00,1.284086
11520,2f365dcd-6ada-f6d8-8d73-4f393745e513,workhours,2025-04-17 00:00:00+00:00,0.073491
28345,af48336f-0979-b971-4927-9b09d53a3cef,maximum,2023-03-31 00:00:00+00:00,7.5
21617,78ddf0fe-9e39-5e5e-5096-a80409925de9,maximum,2027-04-06 00:00:00+00:00,7.5
18693,5cd93092-3385-3e89-003a-9fe6d03a424d,maximum,2027-01-14 00:00:00+00:00,1.5
28392,af48336f-0979-b971-4927-9b09d53a3cef,maximum,2023-05-17 00:00:00+00:00,7.5
26271,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,workhours,2024-05-24 00:00:00+00:00,1.685379
11205,2f365dcd-6ada-f6d8-8d73-4f393745e513,workhours,2024-06-06 00:00:00+00:00,0.073491
23541,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,maximum,2021-05-19 00:00:00+00:00,7.5
23091,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,absences,2023-06-26 00:00:00+00:00,7.5
32879,eb8d73da-8c1c-7996-b085-332e777dff1a,maximum,2026-03-04 00:00:00+00:00,7.5
6941,2441bfbf-78f2-0173-b0a1-8634ce167a0d,maximum,2026-04-17 00:00:00+00:00,7.5
16,0d100bc1-8376-7ac5-7bbb-055cdc20497d,absences,2023-07-12 00:00:00+00:00,7.5
32503,eb8d73da-8c1c-7996-b085-332e777dff1a,maximum,2025-02-21 00:00:00+00:00,7.5
6455,2441bfbf-78f2-0173-b0a1-8634ce167a0d,maximum,2024-12-17 00:00:00+00:00,7.5
13817,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,maximum,2026-04-16 00:00:00+00:00,7.5
12110,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,maximum,2021-08-13 00:00:00+00:00,7.5
12215,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,maximum,2021-11-26 00:00:00+00:00,7.5
22273,78ddf0fe-9e39-5e5e-5096-a80409925de9,saleswork,2024-10-25 00:00:00+00:00,0.022364
18386,5cd93092-3385-3e89-003a-9fe6d03a424d,maximum,2026-03-13 00:00:00+00:00,1.5
31890,eb8d73da-8c1c-7996-b085-332e777dff1a,maximum,2023-06-19 00:00:00+00:00,7.5
32395,eb8d73da-8c1c-7996-b085-332e777dff1a,maximum,2024-11-05 00:00:00+00:00,7.5
17434,5cd93092-3385-3e89-003a-9fe6d03a424d,maximum,2023-08-04 00:00:00+00:00,1.5
4306,0d100bc1-8376-7ac5-7bbb-055cdc20497d,workhours,2025-01-21 00:00:00+00:00,0.849408
29076,af48336f-0979-b971-4927-9b09d53a3cef,maximum,2025-03-31 00:00:00+00:00,7.5
7972,2441bfbf-78f2-0173-b0a1-8634ce167a0d,workhours,2024-04-04 00:00:00+00:00,0.650407
8092,2f365dcd-6ada-f6d8-8d73-4f393745e513,maximum,2020-03-31 00:00:00+00:00,7.5
27130,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,workhours,2026-09-30 00:00:00+00:00,0.02974
32536,eb8d73da-8c1c-7996-b085-332e777dff1a,maximum,2025-03-26 00:00:00+00:00,7.5
2803,0d100bc1-8376-7ac5-7bbb-055cdc20497d,maximum,2027-10-19 00:00:00+00:00,7.5
26543,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,workhours,2025-02-20 00:00:00+00:00,0.164087
30173,af48336f-0979-b971-4927-9b09d53a3cef,workhours,2023-10-20 00:00:00+00:00,0.576313
2930,0d100bc1-8376-7ac5-7bbb-055cdc20497d,saleswork,2023-09-27 00:00:00+00:00,0.094839
32611,eb8d73da-8c1c-7996-b085-332e777dff1a,maximum,2025-06-09 00:00:00+00:00,7.5
20169,78ddf0fe-9e39-5e5e-5096-a80409925de9,maximum,2023-04-19 00:00:00+00:00,7.5

In [85]:
# print(hours.dtypes)

k = pd.DataFrame(
    data={
        "start_date": pd.NaT,
        "end_date": pd.NaT,
        "date": arrow.get("2023-01-01T12:00+0200").datetime,
        "value": [10.0, 8.0, 13.0],
    },
    index=[0, 1, 2],
)

cols = ["start_date", "end_date", "date"]
subset = k.loc[:, cols]
for c in cols:
    k[c] = pd.to_datetime(k.loc[:, c], utc=True)

k.date.dt.tz is datetime.timezone.utc

True

In [81]:
d = src.severa.process.unravel(hours)
d2 = src.severa.process.cull_before(d, arrow.utcnow().floor("day"), ["workhours"])
d3 = d2[("2023-01-01" <= d2.date) & (d2.date < "2023-10-01")]
# d3["total"] = d3.absences + d3.saleswork + d3.workhours
d3["total_cost"] = d3.value * d3.cost
# pd.pivot_table(d3, values=["value", "total_cost"], columns=["id"], index=[d3.date.dt.month, "name"], aggfunc=sum, fill_value=0).reset_index()

billing["name"] = billing.user.map(us)
b1 = src.severa.process.unravel(billing)
b1.groupby([b1.date.dt.month])["value"].sum().reset_index()

d4 = d3[d3.id != "maximum"]
d4.groupby([d4.date.dt.month])["total_cost"].sum().reset_index()

C:\Users\vireima\tie-dashboard\src\severa\process.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "_num_workdays"] = data.loc[:, :].apply(
C:\Users\vireima\AppData\Local\Temp\ipykernel_20900\3774696409.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d3["total_cost"] = d3.value * d3.cost
C:\Users\vireima\tie-dashboard\src\severa\process.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "_num_workdays"] = data.loc[:, :].apply(

   date    total_cost
0     1  65255.955645
1     2   60758.58871
2     3  69948.439516
3     4  55455.536342
4     5  65170.208535
5     6  45745.082325
6     7  32600.293436
7     8  35226.940083
8     9  30624.146885

In [63]:
hours[hours.productive.isna()].id.unique()

<StringArray>
['maximum', 'absences']
Length: 2, dtype: string

In [27]:
us = {user.guid: user.firstName for user in await f.users()}
d = src.severa.process.unravel(
    hours
)  # [hours.id.isin(["workhours", "saleshours", "absences"])])
# d = src.severa.process.unravel(hours[hours.id.isin(["maximum"])], arrow.get("2023-03-01").datetime, arrow.get("2023-09-01").datetime)
d["name"] = d.user.map(us)
x = src.severa.process.cull_before(d, arrow.utcnow().floor("day"), ["workhours"])


d2 = x[("2023-06-01" <= x.date) & (x.date < "2023-10-01")]


pd.pivot_table(
    d2,
    values=["value"],
    columns=["id"],
    index=[d2.date.dt.month, "name"],
    aggfunc=sum,
    fill_value=0,
).reset_index()
# hours[hours.id == "maximum"]

C:\Users\vireima\tie-dashboard\src\severa\process.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "_num_workdays"] = data.loc[:, :].apply(

        date       name     value
id                      absences  maximum    saleswork   workhours
0          6    Johanna      52.5     157.5   1.991613   42.294511
1          6       Joni      15.0     157.5      7.875  110.348308
2          6       Lari      15.0     157.5        0.0    141.8125
3          6  Margarita       2.0     157.5    2.67052  143.217196
4          6      Miika       0.0     157.5        0.0   14.136094
5          6       Panu       0.0      31.5        0.0         0.0
6          6       Topi      15.0     157.5        0.0   97.393574
7          6      Ville       0.0     157.5        0.0   160.68209
8          6  Vladimirs       7.5     157.5        0.0  103.772486
9          7    Johanna     150.0     157.5   1.991613    3.294101
10         7       Joni       0.0     157.5      7.875   56.144925
11         7       Lari     150.0     157.5        0.0         3.5
12         7  Margarita      37.5     157.5    2.67052   38.310908
13         7      Miika       0.0     157.5        0.0   10.193483
14         7       Panu       0.0      31.5        0.0         0.0
15         7       Topi       0.0     157.5        0.0   47.579986
16         7      Ville      75.0     157.5        0.0   18.985294
17         7  Vladimirs       0.0     157.5        0.0   67.896899
18         8    Johanna       0.0     172.5    2.18129   75.764315
19         8       Joni       0.0     172.5     15.325   73.492061
20         8       Lari       0.0     172.5  13.176601  106.382353
21         8  Margarita       0.0     172.5   2.924855    54.09331
22         8      Miika       0.0     172.5        0.0   13.164291
23         8       Panu       0.0      34.5        0.0         0.0
24         8       Topi       0.0     172.5        0.0  132.726064
25         8      Ville       7.5     172.5        0.0  122.102941
26         8  Vladimirs       0.0     172.5        0.0    87.85971
27         9    Johanna       0.0     157.5   8.908843   68.926114
28         9       Joni       0.0     157.5  13.992391   56.144925
29         9       Lari       0.0     157.5   12.03081   107.49443
30         9  Margarita       0.0     157.5    2.67052   26.292365
31         9      Miika       0.0     157.5        0.0   12.193483
32         9       Panu       0.0      31.5        0.0         0.0
33         9       Topi       0.0     157.5        0.0  102.866091
34         9      Ville       7.5     157.5        0.0  111.416667
35         9  Vladimirs       0.0     157.5        0.0   89.319735

In [139]:
hours.loc[hours.date.isna() & (hours.id == "maximum"), "user"]

d = pd.DataFrame(
    {"date": pd.date_range("2023-05-01", "2023-05-30", freq="D", tz="utc")}
)
d["mask"] = d.date.map(Finland().is_working_day).map(int)
d

x = (
    hours.loc[hours.date.isna() & (hours.id == "maximum"), :]
    .drop("date", axis=1)
    .merge(d, how="cross")
)
x["value"] *= x["mask"]

In [157]:
x = src.severa.process.unravel_maximum(hours)
hours[hours.id == "maximum"]

,user,value,id,date,activity_type,project,productive,is_internal,phase,start_date,end_date,sold_by,forecast_date
0,eb8d73da-8c1c-7996-b085-332e777dff1a,0.0,maximum,2020-03-15 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-15 00:00:00+00:00
1,eb8d73da-8c1c-7996-b085-332e777dff1a,7.5,maximum,2020-03-16 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-15 00:00:00+00:00
2,eb8d73da-8c1c-7996-b085-332e777dff1a,7.5,maximum,2020-03-17 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-15 00:00:00+00:00
3,eb8d73da-8c1c-7996-b085-332e777dff1a,7.5,maximum,2020-03-18 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-15 00:00:00+00:00
4,eb8d73da-8c1c-7996-b085-332e777dff1a,7.5,maximum,2020-03-19 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-15 00:00:00+00:00
5,eb8d73da-8c1c-7996-b085-332e777dff1a,7.5,maximum,2020-03-20 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-15 00:00:00+00:00
6,eb8d73da-8c1c-7996-b085-332e777dff1a,0.0,maximum,2020-03-21 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-15 00:00:00+00:00
7,eb8d73da-8c1c-7996-b085-332e777dff1a,0.0,maximum,2020-03-22 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-15 00:00:00+00:00
8,eb8d73da-8c1c-7996-b085-332e777dff1a,7.5,maximum,2020-03-23 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-15 00:00:00+00:00

In [178]:
def unravel_maximum(data: pd.DataFrame) -> pd.DataFrame:
    min_date = data.loc[:, ["date", "start_date"]].min().min()
    max_date = data.loc[:, ["date", "end_date"]].max().max()
    print(min_date)
    print(max_date)
    dt_index = pd.date_range(min_date, max_date, freq="D", tz="utc")
    dates = pd.DataFrame({"date": dt_index})

    dates["workday_mask"] = dates.date.map(Finland().is_working_day).map(int)
    unraveled_subset = (
        data.loc[data.id == "maximum", :].drop("date", axis=1).merge(dates, how="cross")
    )
    unraveled_subset["value"] *= unraveled_subset["workday_mask"]

    # data.merge(unraveled_subset, on=["id", "user"])
    # data.loc[data.date.isna() & (data.id == "maximum"), :] = masking.drop(
    #    "workday_mask", axis=1
    # )

    return unraveled_subset


hours[hours.id == "maximum"]
hours[hours.id != "maximum"]

pd.concat(
    [unravel_maximum(hours).drop("workday_mask", axis=1), hours[hours.id != "maximum"]],
    ignore_index=True,
)

2020-03-15 00:00:00+00:00
2027-11-30 00:00:00+00:00

,user,value,id,activity_type,project,productive,is_internal,phase,start_date,end_date,sold_by,forecast_date,date
0,eb8d73da-8c1c-7996-b085-332e777dff1a,0.0,maximum,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-16 00:00:00+00:00,2020-03-15 00:00:00+00:00
1,eb8d73da-8c1c-7996-b085-332e777dff1a,7.5,maximum,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-16 00:00:00+00:00,2020-03-16 00:00:00+00:00
2,eb8d73da-8c1c-7996-b085-332e777dff1a,7.5,maximum,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-16 00:00:00+00:00,2020-03-17 00:00:00+00:00
3,eb8d73da-8c1c-7996-b085-332e777dff1a,7.5,maximum,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-16 00:00:00+00:00,2020-03-18 00:00:00+00:00
4,eb8d73da-8c1c-7996-b085-332e777dff1a,7.5,maximum,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,NaT,<NA>,2023-06-16 00:00:00+00:00,2020-03-19 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25915,0d100bc1-8376-7ac5-7bbb-055cdc20497d,73.5,saleswork,<NA>,f62568a5-36ce-5dc3-490d-a3a24031dba1,<NA>,<NA>,<NA>,2022-11-03 00:00:00+00:00,2025-12-01 00:00:00+00:00,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,2023-06-16 00:00:00+00:00,NaT
25916,2441bfbf-78f2-0173-b0a1-8634ce167a0d,22.0,saleswork,<NA>,e98dd28a-27be-a646-3141-bef922976214,<NA>,<NA>,<NA>,2023-04-25 00:00:00+00:00,2023-12-30 00:00:00+00:00,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2023-06-16 00:00:00+00:00,NaT
25917,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,12.6,saleswork,<NA>,1913890d-2f2f-c164-3e71-e532a6c96ebe,<NA>,<NA>,<NA>,2023-08-01 00:00:00+00:00,2024-10-31 00:00:00+00:00,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-16 00:00:00+00:00,NaT
25918,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,1.6,saleswork,<NA>,1913890d-2f2f-c164-3e71-e532a6c96ebe,<NA>,<NA>,<NA>,2025-05-01 00:00:00+00:00,2025-06-30 00:00:00+00:00,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-16 00:00:00+00:00,NaT
25919,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,1.6,saleswork,<NA>,1913890d-2f2f-c164-3e71-e532a6c96ebe,<NA>,<NA>,<NA>,2027-10-01 00:00:00+00:00,2027-11-30 00:00:00+00:00,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,2023-06-16 00:00:00+00:00,NaT

In [198]:
import random

dat = pd.DataFrame(
    {
        "id": list("AAABBB"),
        "value": [10, 8, 3, 7, 1, 1],
        "start_date": pd.Timestamp("2023-06-01"),
        "end_date": pd.Timestamp("2023-06-08"),
    }
)
dat.loc[1, "start_date"] = pd.Timestamp("2023-05-28")
dat.loc[2, "end_date"] = pd.Timestamp("2023-06-9")

dat["date"] = dat.apply(
    lambda x: pd.date_range(start=x["start_date"], end=x["end_date"]), axis=1
)
dat["_num_workdays"] = dat.apply(
    lambda x: Finland().get_working_days_delta(
        x["start_date"].date(), x["end_date"].date()
    ),
    axis=1,
)

dat = dat.explode("date").reset_index(drop=True)
dat["_is_workday"] = dat.date.map(Finland().is_working_day).map(int)
dat

hours[hours.date.isna()].sample(20)

,user,value,id,date,activity_type,project,productive,is_internal,phase,start_date,end_date,sold_by,forecast_date
516,2f365dcd-6ada-f6d8-8d73-4f393745e513,4.0,workhours,NaT,<NA>,efd040a7-b946-7f32-cdc7-5254d4707403,<NA>,False,e4a802ac-54f4-d3f2-6b0c-229f94118e7d,2023-06-01 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
545,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,25.0,workhours,NaT,<NA>,f1a3d420-e970-74be-7668-ab3104c00551,<NA>,False,1915e2b0-c434-0322-9175-f9454a283e70,2023-06-26 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
563,2441bfbf-78f2-0173-b0a1-8634ce167a0d,67.5,workhours,NaT,<NA>,2d4fbce0-6524-15c2-1180-348bb49ef047,<NA>,False,94b5fc97-f7cc-657a-a4db-b5803afd737f,2023-02-28 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
546,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,91.0,workhours,NaT,<NA>,2363278a-275f-ce2c-7a3b-5beea945c845,<NA>,False,67e159dc-1266-5c1c-51fa-228c95a1ea73,2022-10-01 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
538,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,8.0,workhours,NaT,<NA>,bf48e17f-7503-7ec5-87a8-25ad5cebd210,<NA>,False,079766cf-f3fd-80df-b9dd-e9bfc9a012e2,2023-06-01 00:00:00+00:00,2023-06-25 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
555,a7ac9445-5b48-6d3e-ae00-d5dd99ceb7c8,27.0,workhours,NaT,<NA>,7dff98a8-da80-1006-4bb1-2bda3507c7d4,<NA>,False,fb38fbce-53da-62a6-57e2-5ff874ff5950,2023-05-12 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
530,30c9d126-7cdc-53fc-3b05-7f98b25e3c98,10.0,workhours,NaT,<NA>,bc7710f2-37a0-d14b-fcd4-a9e4fe8a95dd,<NA>,False,39aad51a-e04d-7880-daa1-fef750b382d2,2023-06-01 00:00:00+00:00,2023-06-25 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
490,eb8d73da-8c1c-7996-b085-332e777dff1a,2.0,workhours,NaT,<NA>,2d4fbce0-6524-15c2-1180-348bb49ef047,<NA>,False,94b5fc97-f7cc-657a-a4db-b5803afd737f,2023-02-28 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
514,2f365dcd-6ada-f6d8-8d73-4f393745e513,31.0,workhours,NaT,<NA>,c1e8f641-cadc-06ac-fa6a-334e8afaf814,<NA>,True,2b8f4b28-c55c-2326-66fd-6ad56748c059,2023-03-02 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
565,2441bfbf-78f2-0173-b0a1-8634ce167a0d,44.0,workhours,NaT,<NA>,dece01c7-5324-c4b4-2bab-497009174f92,<NA>,False,ff9a747b-a7de-1d49-4cca-adb8ffa19180,2023-04-07 00:00:00+00:00,2023-07-16 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
506,0d100bc1-8376-7ac5-7bbb-055cdc20497d,45.0,workhours,NaT,<NA>,c1e8f641-cadc-06ac-fa6a-334e8afaf814,<NA>,True,2b8f4b28-c55c-2326-66fd-6ad56748c059,2023-01-01 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
520,2f365dcd-6ada-f6d8-8d73-4f393745e513,14.0,workhours,NaT,<NA>,ea66284d-2d16-dd10-903e-a2ae1a8d8bd3,<NA>,False,4692c087-a0c4-ec29-2696-7baa67103c7d,2023-06-01 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
500,0d100bc1-8376-7ac5-7bbb-055cdc20497d,21.0,workhours,NaT,<NA>,010ff3d4-aa1f-81a4-f8cf-82237f803dc2,<NA>,False,932ae586-f242-6b66-c304-9c768d0790ba,2023-03-01 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
501,0d100bc1-8376-7ac5-7bbb-055cdc20497d,4.0,workhours,NaT,<NA>,bf48e17f-7503-7ec5-87a8-25ad5cebd210,<NA>,False,079766cf-f3fd-80df-b9dd-e9bfc9a012e2,2023-04-02 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
559,2441bfbf-78f2-0173-b0a1-8634ce167a0d,62.0,workhours,NaT,<NA>,1357cfa5-bf9d-e0f1-466d-eeac7d76a053,<NA>,False,745d7a3a-e8cf-7fa4-b8c2-5e0b2a143f48,2023-01-01 00:00:00+00:00,2023-07-16 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
487,eb8d73da-8c1c-7996-b085-332e777dff1a,98.0,workhours,NaT,<NA>,75a14192-4a33-bb20-7a85-4cd4b5f69971,<NA>,False,da86efaf-10d4-c92f-4ad7-4996cc6904aa,2023-02-02 00:00:00+00:00,2024-03-01 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
504,0d100bc1-8376-7ac5-7bbb-055cdc20497d,100.0,workhours,NaT,<NA>,bad86762-4521-1d09-a992-473607c75c48,<NA>,True,2e07518a-d44c-3f49-0d1a-5ce6dadbe8db,2023-01-02 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
507,0d100bc1-8376-7ac5-7bbb-055cdc20497d,11.0,workhours,NaT,<NA>,1357cfa5-bf9d-e0f1-466d-eeac7d76a053,<NA>,False,745d7a3a-e8cf-7fa4-b8c2-5e0b2a143f48,2023-01-01 00:00:00+00:00,2023-06-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
485,eb8d73da-8c1c-7996-b085-332e777dff1a,158.0,workhours,NaT,<NA>,23caa50b-ce96-09b7-f03c-052e91a8ea95,<NA>,False,e2f78255-a6cd-e8b2-71f8-02cd350774d8,2022-11-01 00:00:00+00:00,2023-07-31 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00
570,2ed8156d-f3f9-2212-c739-b0d9f7ac81ca,1.5,saleswork,NaT,<NA>,a5cb3bde-0601-a9c9-e32e-4f4c505f2cbf,<NA>,<NA>,<NA>,2020-04-14 00:00:00+00:00,2020-05-15 00:00:00+00:00,af48336f-0979-b971-4927-9b09d53a3cef,2023-06-16 00:00:00+00:00

In [301]:
y = src.severa.process.unravel(hours)

C:\Users\vireima\tie-dashboard\src\severa\process.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:,"_num_workdays"] = data.loc[:,:].apply(

In [302]:
y

,user,value,id,date,activity_type,project,productive,is_internal,phase,start_date,end_date,sold_by,forecast_date,xxx
0,eb8d73da-8c1c-7996-b085-332e777dff1a,0.0,maximum,2020-03-15 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,2020-03-15 00:00:00+00:00,2027-11-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00,14595
1,eb8d73da-8c1c-7996-b085-332e777dff1a,14595.0,maximum,2020-03-16 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,2020-03-15 00:00:00+00:00,2027-11-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00,14595
2,eb8d73da-8c1c-7996-b085-332e777dff1a,14595.0,maximum,2020-03-17 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,2020-03-15 00:00:00+00:00,2027-11-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00,14595
3,eb8d73da-8c1c-7996-b085-332e777dff1a,14595.0,maximum,2020-03-18 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,2020-03-15 00:00:00+00:00,2027-11-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00,14595
4,eb8d73da-8c1c-7996-b085-332e777dff1a,14595.0,maximum,2020-03-19 00:00:00+00:00,<NA>,<NA>,<NA>,<NA>,<NA>,2020-03-15 00:00:00+00:00,2027-11-30 00:00:00+00:00,<NA>,2023-06-16 00:00:00+00:00,14595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40840,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2.5,workhours,2023-06-15 00:00:00+00:00,<NA>,2d4fbce0-6524-15c2-1180-348bb49ef047,True,<NA>,<NA>,NaT,NaT,<NA>,2023-06-16 00:00:00+00:00,<NA>
40841,2441bfbf-78f2-0173-b0a1-8634ce167a0d,0.5,workhours,2023-06-15 00:00:00+00:00,<NA>,2d4fbce0-6524-15c2-1180-348bb49ef047,True,<NA>,<NA>,NaT,NaT,<NA>,2023-06-16 00:00:00+00:00,<NA>
40842,2441bfbf-78f2-0173-b0a1-8634ce167a0d,1.0,workhours,2023-06-15 00:00:00+00:00,<NA>,bad86762-4521-1d09-a992-473607c75c48,False,<NA>,<NA>,NaT,NaT,<NA>,2023-06-16 00:00:00+00:00,<NA>
40843,2441bfbf-78f2-0173-b0a1-8634ce167a0d,1.0,workhours,2023-06-15 00:00:00+00:00,<NA>,bad86762-4521-1d09-a992-473607c75c48,False,<NA>,<NA>,NaT,NaT,<NA>,2023-06-16 00:00:00+00:00,<NA>
40844,2441bfbf-78f2-0173-b0a1-8634ce167a0d,2.5,workhours,2023-06-15 00:00:00+00:00,<NA>,cfb288e4-0b13-7907-153c-c865df2228cd,True,<NA>,<NA>,NaT,NaT,<NA>,2023-06-16 00:00:00+00:00,<NA>